block var


include ../helpers/_mixins

doctype html

<!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
//- .svg-sprite(style="height: 0; width: 0; position: absolute; visibility: hidden")
  include ../../img/svg/icon-sprite.svg
html.no-js(lang='')<!--<![endif]-->
  include ../../_head
  body
    #index-wrapper.index-wrapper
      // Page Content
      // inner Header
      include ../blocks/_header-index
      // end inner Header

      // main-content
      main.main-content
        block content
      // end main-content

    // #wrapper

    block modals