block var

include ../helpers/_mixins

doctype html

<!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
html.no-js(lang='')<!--<![endif]-->
  include ../../_head-pr
  body
      main.main-content
        block content