@import 'compass';
@import 'helpers/variables-bootstrap';
@import 'helpers/variables';
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";

@import 'base/base';

body {
  font-family:  "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  * {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: 'leadux-pr';
  src:  url('../fonts/leadux-pr/fonts/leadux-pr.eot?a5akp1');
  src:  url('../fonts/leadux-pr/fonts/leadux-pr.eot?a5akp1#iefix') format('embedded-opentype'),
    url('../fonts/leadux-pr/fonts/leadux-pr.ttf?a5akp1') format('truetype'),
    url('../fonts/leadux-pr/fonts/leadux-pr.woff?a5akp1') format('woff'),
    url('../fonts/leadux-pr/fonts/leadux-pr.svg?a5akp1#leadux') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pr-icons"], [class*="pr-icons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'leadux-pr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pr-icons_pri-1:before {
  content: "\e900";
}
.pr-icons_pri-2:before {
  content: "\e901";
}
.pr-icons_pri-3:before {
  content: "\e902";
}
.pr-icons_pri-4:before {
  content: "\e903";
}

.pr-text {
  position: relative;
  z-index: 2;
  color: #f2f2f2;
  font-size: 11px;
  p {
    margin: 0;
    font-weight: normal;
  }
}

.pr-icon__wr {
  position: relative;
  z-index: 2;
}

.pr-bg {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1;
}

.pr-icon__wr {
  font-size: 26px;
}

// ###########
// periscope-1
// ###########

.pr__wr {
  position: relative;
  width: 240px;
  min-height: 50px;
}

.pr-1 {
  padding: 8px 90px 15px 45px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      top: 10px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #f2f2f2;
    font-size: 26px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    padding: 1px;
    .pr-icon {
      vertical-align: middle;
    }
  }
}

// ###########
// end periscope-1
// ###########


// ###########
// periscope-2
// ###########

.pr-2 {
  padding: 8px 80px 15px 60px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      top: 10px;
      left: 15px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    padding: 1px;
    .pr-icon {
      vertical-align: middle;
    }
  }
}

// ###########
// end periscope-2
// ###########


// ###########
// periscope-3
// ###########

.pr-3 {
  margin-top: 10px;
  padding: 8px 80px 15px 45px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      top: -8px;
      right: -8px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    padding: 1px;
    .pr-icon {
      vertical-align: middle;
    }
  }
}

// ###########
// end periscope-3
// ###########


// ###########
// periscope-4
// ###########

.pr-4 {
  margin-top: 10px;
  padding: 8px 80px 15px 45px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .pr-icon__wr {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 26px;
  }
}

// ###########
// end periscope-4
// ###########


// ###########
// periscope-5
// ###########

.pr-5 {
  margin-top: 10px;
  padding: 8px 20px 15px 110px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      left: 55px;
      top: 15px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    top: 10px;
    left: 45px;
    color: #fff;
    font-size: 26px;
  }
}

// ###########
// end periscope-5
// ###########


// ###########
// periscope-6
// ###########

.pr-6 {
  margin-top: 10px;
  padding: 8px 50px 15px 80px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      left: 12px;
      top: 15px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    font-size: 26px;
  }
}

// ###########
// end periscope-6
// ###########


// ###########
// periscope-7
// ###########

.pr-7 {
  margin-top: 10px;
  padding: 8px 50px 15px 80px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      left: 12px;
      top: 15px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    font-size: 26px;
  }
}

// ###########
// end periscope-7
// ###########


// ###########
// periscope-8
// ###########

.pr-8 {
  margin-top: 10px;
  padding: 8px 50px 15px 80px;
  &.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px;
    .pr-icon__wr {
      left: 12px;
      top: 15px;
    }
  }
  .pr-icon__wr {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    font-size: 26px;
  }
}

// ###########
// end periscope-8
// ###########