.container_sm, .container_lg {
  overflow: initial;
  *zoom: 1; }
  .container_sm:before, .container_lg:before, .container_sm:after, .container_lg:after {
    display: table;
    content: ' '; }
  .container_sm:after, .container_lg:after {
    clear: both; }

.table__full-info-wr, .header-nav__list-wr, .header-nav__link, .header-nav__link_dashboard, .btn__block-position {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn_shadow {
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 0;
  -moz-box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.15), inset -3px 0 7px rgba(0, 0, 0, 0.15), inset 0 3px 7px white, inset 3px 0 7px white;
  -webkit-box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.15), inset -3px 0 7px rgba(0, 0, 0, 0.15), inset 0 3px 7px white, inset 3px 0 7px white;
  box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.15), inset -3px 0 7px rgba(0, 0, 0, 0.15), inset 0 3px 7px white, inset 3px 0 7px white;
  /*left internal highlight*/ }
  .btn_shadow:focus, .btn_shadow:hover, .btn_shadow:active {
    border-width: 0;
    -moz-box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.15), inset -3px 0 7px rgba(0, 0, 0, 0.15), inset 0 3px 7px white, inset 3px 0 7px white;
    -webkit-box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.15), inset -3px 0 7px rgba(0, 0, 0, 0.15), inset 0 3px 7px white, inset 3px 0 7px white;
    box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.15), inset -3px 0 7px rgba(0, 0, 0, 0.15), inset 0 3px 7px white, inset 3px 0 7px white;
    /*left internal highlight*/ }

.btn-outline, .btn-outline:hover, .btn-outline:focus {
  color: #4f8488;
  background: #fff;
  border: 2px solid #4f8488; }

.btn {
  line-height: 18px;
  font-size: 14px;
  height: 30px; }
  @media (min-width: 768px) {
    .btn {
      line-height: 18px;
      font-size: 18px; } }

.btn-sm {
  line-height: 14px;
  font-size: 12px;
  height: 22px; }

.btn-r-sm {
  border-radius: 6px; }

.btn-150 {
  min-width: 130px; }
  @media (min-width: 768px) {
    .btn-150 {
      min-width: 150px; } }

.btn-140 {
  min-width: 120px; }
  @media (min-width: 768px) {
    .btn-140 {
      min-width: 140px; } }

.btn-110 {
  min-width: 100px; }
  @media (min-width: 768px) {
    .btn-110 {
      min-width: 110px; } }

.btn-90 {
  min-width: 70px; }
  @media (min-width: 768px) {
    .btn-90 {
      min-width: 90px; } }

.caret {
  border-top-width: 9px; }

.dropdown-menu {
  -moz-box-shadow: 2.6px 4.3px 6px rgba(52, 52, 52, 0.21);
  -webkit-box-shadow: 2.6px 4.3px 6px rgba(52, 52, 52, 0.21);
  box-shadow: 2.6px 4.3px 6px rgba(52, 52, 52, 0.21);
  padding: 0;
  overflow: hidden; }

.btn_big {
  background-color: #dfa379;
  border: 3px solid white;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: white;
  font-size: 18px;
  padding: 10px;
  line-height: 1;
  height: 38px; }
  .btn_big:hover, .btn_big:focus {
    border: 3px solid white; }
  @media (min-width: 768px) {
    .btn_big {
      height: 78px;
      color: white;
      font-size: 30px;
      font-weight: 600;
      padding: 18px;
      border: 6px solid white; }
      .btn_big:hover, .btn_big:focus {
        border: 6px solid white; } }

.form-control {
  -moz-box-shadow: inset -2.6px 1.5px 3px rgba(63, 62, 62, 0.35);
  -webkit-box-shadow: inset -2.6px 1.5px 3px rgba(63, 62, 62, 0.35);
  box-shadow: inset -2.6px 1.5px 3px rgba(63, 62, 62, 0.35); }

.form-group__info-btn-wr {
  position: relative;
  padding-right: 50px; }

.form-group-info-btn {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-top: -14px;
  padding: 4px;
  text-align: center;
  color: #343434;
  border: 1px solid #343434;
  background-color: #fff;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px; }
  .form-group-info-btn:hover, .form-group-info-btn:focus {
    text-decoration: none;
    color: #4f8488;
    outline: none; }

.bootstrap-switch, .bootstrap-switch.bootstrap-switch-focused {
  border: none;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 2.2px 2px 7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 2.2px 2px 7px rgba(0, 0, 0, 0.35);
  box-shadow: inset 2.2px 2px 7px rgba(0, 0, 0, 0.35); }
  .bootstrap-switch .bootstrap-switch-handle-on,
  .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-focused .bootstrap-switch-handle-on,
  .bootstrap-switch.bootstrap-switch-focused .bootstrap-switch-handle-off {
    color: #343434 !important;
    background-color: transparent !important; }
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
  background-color: #5cb85c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
  background-color: #c41616;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  font-size: 24px;
  padding: 5px 4px; }

.big-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  min-width: 130px;
  margin-bottom: 0;
  padding-right: 20px;
  vertical-align: middle;
  color: #343434; }
  @media (min-width: 768px) {
    .big-label {
      font-size: 24px; } }

.custom-select {
  position: relative;
  overflow: hidden;
  padding: 0; }
  .custom-select select {
    width: 120% !important;
    padding-right: calc(20px + 20%);
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .custom-select select::-ms-expand {
      display: none; }
  .custom-select:after {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    content: '';
    border-style: solid;
    border-color: transparent transparent #848484;
    border-width: 0 4px 9px; }
  .custom-select:before {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: 1px;
    content: '';
    border-style: solid;
    border-color: #848484 transparent transparent;
    border-width: 9px 4px 0; }

label {
  font-weight: 400; }

.radio-group_md label {
  font-size: 18px;
  line-height: 1.1; }
  .radio-group_md label:before {
    top: 2px; }

.checkbox-group.radio-group_inline,
.radio-group.radio-group_inline {
  display: inline-block; }
  .checkbox-group.radio-group_inline .custom-radio,
  .radio-group.radio-group_inline .custom-radio {
    display: inline-block; }
    .checkbox-group.radio-group_inline .custom-radio:not(:last-child),
    .radio-group.radio-group_inline .custom-radio:not(:last-child) {
      margin-right: 20px; }
.checkbox-group.checkbox-group_inline,
.radio-group.checkbox-group_inline {
  display: inline-block; }
  .checkbox-group.checkbox-group_inline .custom-checkbox,
  .radio-group.checkbox-group_inline .custom-checkbox {
    display: inline-block; }
    .checkbox-group.checkbox-group_inline .custom-checkbox + .custom-checkbox,
    .radio-group.checkbox-group_inline .custom-checkbox + .custom-checkbox {
      margin-left: 20px; }

.custom-checkbox,
.custom-radio {
  padding: 3px 0 !important; }
  .custom-checkbox input[type='checkbox'],
  .custom-checkbox input[type='radio'],
  .custom-radio input[type='checkbox'],
  .custom-radio input[type='radio'] {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    vertical-align: top; }
    .custom-checkbox input[type='checkbox']:not(checked),
    .custom-checkbox input[type='radio']:not(checked),
    .custom-radio input[type='checkbox']:not(checked),
    .custom-radio input[type='radio']:not(checked) {
      position: absolute;
      opacity: 0; }
      .custom-checkbox input[type='checkbox']:not(checked) + label,
      .custom-checkbox input[type='radio']:not(checked) + label,
      .custom-radio input[type='checkbox']:not(checked) + label,
      .custom-radio input[type='radio']:not(checked) + label {
        margin-bottom: 0;
        min-height: 13px;
        position: relative;
        padding: 0 0 0 20px; }
    .custom-checkbox input[type='checkbox']:checked + label:after,
    .custom-checkbox input[type='radio']:checked + label:after,
    .custom-radio input[type='checkbox']:checked + label:after,
    .custom-radio input[type='radio']:checked + label:after {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
    .custom-checkbox input[type='checkbox']:focus + label:before,
    .custom-checkbox input[type='radio']:focus + label:before,
    .custom-radio input[type='checkbox']:focus + label:before,
    .custom-radio input[type='radio']:focus + label:before {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .custom-checkbox input[type='checkbox']:disabled + label,
    .custom-checkbox input[type='radio']:disabled + label,
    .custom-radio input[type='checkbox']:disabled + label,
    .custom-radio input[type='radio']:disabled + label {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
      opacity: 0.6; }
  .custom-checkbox input[type='checkbox'] + label,
  .custom-radio input[type='checkbox'] + label {
    cursor: pointer;
    line-height: 1;
    min-height: 13px;
    min-width: 13px; }
    .custom-checkbox input[type='checkbox'] + label:before,
    .custom-radio input[type='checkbox'] + label:before {
      position: absolute;
      top: 0px;
      left: 0;
      width: 13px;
      height: 13px;
      content: '';
      border: 2px solid #4f8488;
      background-color: #fff; }
    .custom-checkbox input[type='checkbox'] + label:after,
    .custom-radio input[type='checkbox'] + label:after {
      position: absolute;
      top: 4px;
      left: 2px;
      width: 9px;
      height: 4px;
      content: '';
      border-width: 0 0 2px 2px;
      border-style: solid;
      border-color: transparent transparent #4f8488 #4f8488;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }
  .custom-checkbox.custom-checkbox_big input[type='checkbox'],
  .custom-checkbox.custom-checkbox_big input[type='radio'],
  .custom-radio.custom-checkbox_big input[type='checkbox'],
  .custom-radio.custom-checkbox_big input[type='radio'] {
    width: 18px;
    height: 18px; }
    .custom-checkbox.custom-checkbox_big input[type='checkbox']:not(checked) + label,
    .custom-checkbox.custom-checkbox_big input[type='radio']:not(checked) + label,
    .custom-radio.custom-checkbox_big input[type='checkbox']:not(checked) + label,
    .custom-radio.custom-checkbox_big input[type='radio']:not(checked) + label {
      padding: 0 0 0 25px; }
  .custom-checkbox.custom-checkbox_big input[type='checkbox'] + label,
  .custom-radio.custom-checkbox_big input[type='checkbox'] + label {
    min-height: 18px;
    min-width: 18px; }
    .custom-checkbox.custom-checkbox_big input[type='checkbox'] + label:before,
    .custom-radio.custom-checkbox_big input[type='checkbox'] + label:before {
      width: 18px;
      height: 18px; }
    .custom-checkbox.custom-checkbox_big input[type='checkbox'] + label:after,
    .custom-radio.custom-checkbox_big input[type='checkbox'] + label:after {
      left: 3px;
      width: 13px;
      height: 6px; }
  .custom-checkbox.custom-checkbox_big.custom-checkbox_warning input[type='checkbox'] + label:before,
  .custom-radio.custom-checkbox_big.custom-checkbox_warning input[type='checkbox'] + label:before {
    border: 2px solid #dfa379; }
  .custom-checkbox.custom-checkbox_big.custom-checkbox_warning input[type='checkbox'] + label:after,
  .custom-radio.custom-checkbox_big.custom-checkbox_warning input[type='checkbox'] + label:after {
    border-color: transparent transparent #dfa379 #dfa379; }

.custom-checkbox_big {
  font-size: 18px; }

.custom-radio input[type='radio'] + label {
  cursor: pointer; }
  .custom-radio input[type='radio'] + label:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 17px;
    height: 17px;
    content: '';
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #b0b1b1;
    -moz-box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset -1px 0 4px rgba(0, 0, 0, 0.15), inset 0 1px 4px rgba(255, 255, 255, 0.7), inset 1px 0 4px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset -1px 0 4px rgba(0, 0, 0, 0.15), inset 0 1px 4px rgba(255, 255, 255, 0.7), inset 1px 0 4px rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset -1px 0 4px rgba(0, 0, 0, 0.15), inset 0 1px 4px rgba(255, 255, 255, 0.7), inset 1px 0 4px rgba(255, 255, 255, 0.7);
    /*left internal highlight*/ }
.custom-radio input[type='radio']:checked + label:before {
  background-color: #5cb85c;
  -moz-box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset -1px 0 4px rgba(0, 0, 0, 0.15), inset 0 1px 4px rgba(255, 255, 255, 0.7), inset 1px 0 4px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset -1px 0 4px rgba(0, 0, 0, 0.15), inset 0 1px 4px rgba(255, 255, 255, 0.7), inset 1px 0 4px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset -1px 0 4px rgba(0, 0, 0, 0.15), inset 0 1px 4px rgba(255, 255, 255, 0.7), inset 1px 0 4px rgba(255, 255, 255, 0.7);
  /*left internal highlight*/ }

.form-control_big {
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-weight: 400;
  text-transform: uppercase;
  height: 38px; }
  @media (min-width: 768px) {
    .form-control_big {
      height: 78px;
      font-size: 24px; } }
  .form-control_big::-moz-placeholder {
    color: #9d9d9d;
    opacity: 1; }
  .form-control_big:-ms-input-placeholder {
    color: #9d9d9d; }
  .form-control_big::-webkit-input-placeholder {
    color: #9d9d9d; }

.form-group_mg-lg {
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .latest-leads__body {
    border: 2px solid #dfa379;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden; } }

.mobile-table-responsive {
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 992px) {
    .mobile-table-responsive {
      display: none; } }

.mobile-table-responsive__header {
  background: #79d8df;
  padding: 5px 15px; }
  .mobile-table-responsive__header .checkbox {
    margin: 0;
    color: #343434;
    font-style: italic; }
    .mobile-table-responsive__header .checkbox label {
      font-size: 14px;
      padding-left: 22px;
      font-weight: 700; }
    .mobile-table-responsive__header .checkbox input {
      margin-left: -22px; }

.mobile-table-responsive__body .owl-carousel {
  background-color: #c5c5c5;
  margin-bottom: 5px; }
.mobile-table-responsive__body table {
  width: 100%;
  table-layout: fixed;
  color: #343434;
  font-size: 15px;
  font-weight: 400; }
  .mobile-table-responsive__body table td {
    padding: 3px 4px; }
    .mobile-table-responsive__body table td:first-child {
      padding-left: 35px; }
    .mobile-table-responsive__body table td:last-child {
      padding-right: 35px; }
.mobile-table-responsive__body .table-row-checkbox__tr {
  width: 35px;
  vertical-align: top;
  position: absolute;
  left: 15px;
  top: 4px; }

.desktop-table-responsive {
  display: none; }
  @media (min-width: 992px) {
    .desktop-table-responsive {
      display: block; } }
  @media (max-width: 1400px) {
    .desktop-table-responsive table {
      table-layout: fixed; }
      .desktop-table-responsive table .table-row-checkbox-wr {
        width: 20px; }
      .desktop-table-responsive table .table__show-more-wr {
        width: 56px; }
      .desktop-table-responsive table td,
      .desktop-table-responsive table th {
        word-wrap: break-word;
        padding-left: 3px !important;
        padding-right: 3px !important; }
      .desktop-table-responsive table tr .table__full-info-td {
        padding: 0 !important; } }
  .desktop-table-responsive > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    color: #343434;
    line-height: 1;
    word-break: break-word; }
    .desktop-table-responsive > table > thead > tr {
      height: 60px; }
      .desktop-table-responsive > table > thead > tr > th {
        font-weight: 400;
        background: #dfa379;
        padding: 4px 6px; }
        .desktop-table-responsive > table > thead > tr > th ~ th:not(:last-child) {
          min-width: 75px; }
        .desktop-table-responsive > table > thead > tr > th:first-child {
          -moz-border-radius: 8px 0 0 10px;
          -webkit-border-radius: 8px;
          border-radius: 8px 0 0 10px; }
        .desktop-table-responsive > table > thead > tr > th:last-child {
          -moz-border-radius: 0 8px 10px 0;
          -webkit-border-radius: 0;
          border-radius: 0 8px 10px 0; }
    .desktop-table-responsive > table > tbody > tr.even {
      background: #79d8df; }
    .desktop-table-responsive > table > tbody > tr > td {
      padding: 4px 6px;
      text-align: left; }
    .desktop-table-responsive > table > tbody > tr .table__full-info-td {
      padding: 0; }

.desktop-table-tr__header {
  display: none; }

.table__full-info-wr {
  overflow: hidden;
  max-height: 0; }
  .active .table__full-info-wr {
    max-height: 1000px; }

.table__full-info {
  width: 100%; }
  .table__full-info thead tr {
    height: 28px;
    background: #4f8488;
    color: #fff; }
    .table__full-info thead tr th {
      padding: 4px 6px;
      font-weight: normal; }
  .table__full-info tbody td {
    height: 36px;
    padding: 4px 6px;
    background-color: #d6d3d3; }

.js-full-info {
  min-width: 50px; }
  .js-full-info .active-text {
    display: none; }
  .js-full-info .default-text {
    display: inline; }
  .js-full-info.active .active-text {
    display: inline; }
  .js-full-info.active .default-text {
    display: none; }

.website-info__table {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  background-color: #fff; }
  @media (min-width: 1200px) {
    .website-info__table {
      margin: 0;
      padding: 10px; }
      .website-info__table:nth-child(even) {
        background-color: #d6d3d3; }
        .website-info__table:nth-child(even) .website-statistics-table__title-wr,
        .website-info__table:nth-child(even) .website-statistics-table__sm-row {
          background-color: #5fadb3; } }

.website-info__table__header {
  background: #79d8df;
  padding: 5px 15px; }
  .website-info__table__header label {
    font-weight: bold; }
  .website-info__table__header .checkbox {
    margin: 0;
    color: #343434;
    font-size: 14px;
    font-weight: 700;
    font-style: italic; }
  @media (min-width: 1200px) {
    .website-info__table__header {
      background-color: transparent; } }

.website-info__table-wr {
  background-color: #c5c5c5;
  margin-bottom: 5px; }
  .website-info__table-wr table {
    width: 100%;
    table-layout: fixed;
    color: #343434;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; }
    .website-info__table-wr table td {
      padding: 3px 4px;
      height: 34px; }
      .website-info__table-wr table td:first-child {
        padding-left: 35px; }
  @media (min-width: 1200px) {
    .website-info__table-wr {
      font-family: inherit;
      float: right;
      width: 25%;
      background-color: transparent; }
      .website-info__table-wr table,
      .website-info__table-wr tbody {
        display: block; }
        .website-info__table-wr table tr,
        .website-info__table-wr tbody tr {
          padding-top: 20px;
          display: block;
          float: left;
          width: 33.3333%; }
      .website-info__table-wr .website-status__wr {
        display: block; } }

@media (min-width: 1200px) {
  .website-status__lable {
    display: none; } }

.website-status {
  min-width: 53px;
  height: 18px;
  padding: 2px;
  background-color: #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2.4px 1.8px 2px rgba(126, 126, 126, 0.57);
  -webkit-box-shadow: 2.4px 1.8px 2px rgba(126, 126, 126, 0.57);
  box-shadow: 2.4px 1.8px 2px rgba(126, 126, 126, 0.57);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  display: inline-block; }

.website_success {
  background-color: #36ae4a; }

.website_danger {
  background-color: #d23636; }

.website-status__wr {
  text-align: center; }

.website-info__statistics__table-wr {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 1200px) {
    .website-info__statistics__table-wr {
      padding: 0 30px 0 0;
      float: left;
      width: 75%; } }

.user-statistics__table {
  background-color: #4f8488;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden; }
  @media (min-width: 1200px) {
    .user-statistics__table {
      display: block; } }

.user-statistics-table__body {
  display: table-row-group; }
  @media (min-width: 1200px) {
    .user-statistics-table__body {
      display: block;
      margin-left: 200px; } }

.user-statistics-table__sm-row {
  display: table-row; }
  @media (min-width: 1200px) {
    .user-statistics-table__sm-row {
      display: block;
      float: left; }
      .user-statistics-table__sm-row.tible-5-col {
        width: 20%; } }

.user-statistics-table__sm-cell {
  display: table-cell; }
  @media (min-width: 1200px) {
    .user-statistics-table__sm-cell {
      display: block; } }

.user-statistics-table__title-wr {
  display: table-cell; }
  @media (min-width: 1200px) {
    .user-statistics-table__title-wr {
      display: block;
      text-align: center;
      height: 70px;
      line-height: 60px;
      margin-bottom: 15px;
      overflow: hidden; }
      .user-statistics-table__title-wr:first-child, .user-statistics-table__title-wr:last-child {
        margin: 0; } }

.user-statistics-table__title-wr_empty {
  width: 60px;
  height: 0;
  line-height: 0;
  margin: 0; }

.user-statistics-table__header {
  display: table-header-group;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #dfa379;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 50px; }
  @media (min-width: 1200px) {
    .user-statistics-table__header {
      float: left;
      width: 200px;
      font-size: 18px; } }

.user-statistics-table__title {
  padding: 5px; }
  @media (min-width: 1200px) {
    .user-statistics-table__title {
      display: inline-block;
      line-height: initial; } }
  .user-statistics-table__title:after {
    content: '\00BB';
    color: #fff;
    margin-left: 10px;
    position: relative;
    top: 2px;
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
    @media (min-width: 1200px) {
      .user-statistics-table__title:after {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        position: static;
        margin-left: 5px; } }

.user-statistics-table__time {
  padding: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }
  @media (min-width: 1200px) {
    .user-statistics-table__time {
      text-align: center;
      height: 50px;
      line-height: 40px;
      font-size: 18px; }
      .user-statistics-table__time .table-statistics-content {
        display: inline-block;
        line-height: initial; } }

.user-statistics-table__data {
  color: #79d8df;
  font-weight: 700;
  line-height: 1;
  padding: 5px 6px 5px 30px;
  font-size: 21px; }
  @media (min-width: 1200px) {
    .user-statistics-table__data {
      line-height: 22px;
      padding: 0;
      text-align: center;
      height: 70px; }
      .user-statistics-table__data:not(:last-child) {
        margin-bottom: 15px; }
      .user-statistics-table__data .table-statistics-content {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        padding: 19px 5px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        background-color: #79d8df;
        color: #4f8488;
        text-overflow: ellipsis;
        overflow: hidden; } }

@media (min-width: 1200px) {
  .website-info__tables-wr {
    border: 2px solid #dfa379;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden; } }

.website-statistics__table {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #4f8488; }
  @media (min-width: 1200px) {
    .website-statistics__table {
      background-color: transparent;
      padding: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      margin-left: -5px;
      margin-right: -5px; } }

.website-statistics-table__header {
  padding-left: 60px;
  background-color: #dfa379;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; }
  @media (min-width: 1200px) {
    .website-statistics-table__header {
      background-color: transparent;
      padding: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; } }

.website-statistics-table__title-wr {
  float: left;
  width: 50%; }
  @media (min-width: 1200px) {
    .website-statistics-table__title-wr {
      background-color: #79d8df;
      -moz-border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px;
      border-radius: 10px 10px 0 0;
      padding: 5px 10px;
      width: calc(50% - 10px);
      margin-left: 5px;
      margin-right: 5px; } }

.website-statistics-table__title {
  padding: 10px 5px; }
  @media (min-width: 1200px) {
    .website-statistics-table__title {
      font-size: 18px;
      font-weight: 400; } }
  .website-statistics-table__title:after {
    content: '\00BB';
    color: #fff;
    margin-left: 10px;
    position: relative;
    top: 2px;
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
    @media (min-width: 1200px) {
      .website-statistics-table__title:after {
        display: none; } }

.website-statistics-table__col_time {
  float: left;
  color: #fff; }
  @media (min-width: 1200px) {
    .website-statistics-table__col_time {
      display: none; } }

@media (min-width: 1200px) {
  .website-statistics-table__sm-row {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0;
    border-radius: 0 0 10px 10px;
    background-color: #79d8df;
    padding: 5px 10px 5px; } }

.website-statistics-table__body {
  overflow: hidden; }

.website-statistics-table__col_data {
  float: left;
  width: calc(100% - 62px); }
  @media (min-width: 1200px) {
    .website-statistics-table__col_data {
      width: 100%; } }

.website-statistics-table__time {
  padding: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 60px; }

.website-statistics-table__sm-row {
  float: left;
  width: 50%; }
  @media (min-width: 1200px) {
    .website-statistics-table__sm-row {
      width: calc(50% - 10px);
      margin-left: 5px;
      margin-right: 5px; } }

.website-statistics-table__data {
  color: #79d8df;
  font-weight: 700;
  line-height: 1;
  padding: 5px 6px 5px 30px;
  font-size: 21px; }
  @media (min-width: 1200px) {
    .website-statistics-table__data {
      width: 54px;
      height: 54px;
      float: left;
      margin: 5px;
      background-color: #fff;
      -moz-border-radius: 54px;
      -webkit-border-radius: 54px;
      border-radius: 54px;
      padding: 12px 5px;
      color: #0bb2be;
      font-weight: 400;
      line-height: 14px;
      font-size: 12px;
      text-align: center; } }

.website-statistics-table__time-lg {
  display: none; }
  @media (min-width: 1200px) {
    .website-statistics-table__time-lg {
      display: block;
      white-space: nowrap;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; } }

@media (min-width: 1200px) {
  .website-table-statistics-content {
    font-size: 24px; } }

.website-info__tables-header {
  display: none;
  background-color: #dfa379;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
  color: #343434;
  font-weight: 400;
  font-size: 15px;
  padding: 10px; }
  @media (min-width: 1200px) {
    .website-info__tables-header {
      display: block; } }

.wesite-statistics-table__label {
  float: left;
  width: 75%;
  padding: 5px 30px 5px 30px; }

.wesite-status-info-table__labels {
  width: 25%;
  float: left;
  padding: 5px 0; }
  .wesite-status-info-table__labels .th-wesite__label {
    float: left;
    width: 33.3333%;
    text-align: center; }

.th-col-label {
  display: inline-block;
  position: relative;
  padding-right: 10px; }
  .th-col-label .caret {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/RobotoCondensed/robotothin.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotothin.woff") format("woff"), url("../fonts/RobotoCondensed/robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/RobotoCondensed/robotothinitalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotothinitalic.woff") format("woff"), url("../fonts/RobotoCondensed/robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/RobotoCondensed/robotolight.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotolight.woff") format("woff"), url("../fonts/RobotoCondensed/robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/RobotoCondensed/robotolightitalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotolightitalic.woff") format("woff"), url("../fonts/RobotoCondensed/robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/RobotoCondensed/roboto.woff2") format("woff2"), url("../fonts/RobotoCondensed/roboto.woff") format("woff"), url("../fonts/RobotoCondensed/roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/RobotoCondensed/robotoitalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotoitalic.woff") format("woff"), url("../fonts/RobotoCondensed/robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/RobotoCondensed/robotomedium.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotomedium.woff") format("woff"), url("../fonts/RobotoCondensed/robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/RobotoCondensed/robotomediumitalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotomediumitalic.woff") format("woff"), url("../fonts/RobotoCondensed/robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/RobotoCondensed/robotobold.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotobold.woff") format("woff"), url("../fonts/RobotoCondensed/robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/RobotoCondensed/robotobolditalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotobolditalic.woff") format("woff"), url("../fonts/RobotoCondensed/robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/RobotoCondensed/robotoblack.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotoblack.woff") format("woff"), url("../fonts/RobotoCondensed/robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/RobotoCondensed/robotoblackitalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/robotoblackitalic.woff") format("woff"), url("../fonts/RobotoCondensed/robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/ArialNarrow/ArialNarrow.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrow.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrow.ttf") format("truetype"), url("../fonts/ArialNarrow/ArialNarrow.svg#ArialNarrow") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/ArialNarrow/ArialNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrow-Bold.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrow-Bold.ttf") format("truetype"), url("../fonts/ArialNarrow/ArialNarrow-Bold.svg#ArialNarrow-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/ArialNarrow/ArialNarrow-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrow-Italic.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrow-Italic.ttf") format("truetype"), url("../fonts/ArialNarrow/ArialNarrow-Italic.svg#ArialNarrow-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/ArialNarrow/ArialNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrow-BoldItalic.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrow-BoldItalic.ttf") format("truetype"), url("../fonts/ArialNarrow/ArialNarrow-BoldItalic.svg#ArialNarrow-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'leadux';
  src: url("../fonts/leadux/fonts/leadux.eot?at39tn");
  src: url("fonts/leadux.eot?at39tn#iefix") format("embedded-opentype"), url("../fonts/leadux/fonts/leadux.ttf?at39tn") format("truetype"), url("../fonts/leadux/fonts/leadux.woff?at39tn") format("woff"), url("../fonts/leadux/fonts/leadux.svg?at39tn#leadux") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="ld-"], [class*=" ld-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'leadux' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ld-icons_integration:before {
  content: "\e908"; }

.ld-icons_crm:before {
  content: "\e900"; }

.ld-icons_delete:before {
  content: "\e901"; }

.ld-icons_edit:before {
  content: "\e902"; }

.ld-icons_new:before {
  content: "\e903"; }

.ld-icons_search:before {
  content: "\e904"; }

.ld-icons_control-panel:before {
  content: "\e905"; }

.ld-icons_user-photo:before {
  content: "\e906"; }

.ld-icons_instalation:before {
  content: "\e907"; }

.ld-icons_dash:before {
  content: "\e909"; }

.ld-icons_tag:before {
  content: "\e90a"; }

.ld-icons_url:before {
  content: "\e90b"; }

html {
  font-size: 62.5%; }

body {
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  color: #6e6e6e; }

.btn-icon_l {
  margin-right: 5px; }

.btn-icon {
  display: inline-block;
  vertical-align: middle; }

.btn-text {
  vertical-align: middle;
  display: inline-block; }

@media (min-width: 1400px) {
  .display-inline-block-xlg {
    display: inline-block; } }
html,
body {
  height: 100%; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after {
  clear: both; }

.clearfix {
  overflow: initial;
  *zoom: 1; }

.container-wrap__footer {
  background-color: #79d8df;
  padding: 20px 15px;
  height: 110px; }
  @media (min-width: 1200px) {
    .container-wrap__footer {
      background-color: transparent; } }

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px; }
  @media (min-width: 1200px) {
    .footer-nav {
      font-size: 18px;
      text-align: left; } }

.footer-nav__link {
  text-decoration: underline; }
  .footer-nav__link:hover, .footer-nav__link:focus {
    text-decoration: none; }

.footer-nav__item,
.footer-nav__link {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }
  @media (min-width: 1200px) {
    .footer-nav__item,
    .footer-nav__link {
      font-size: 18px; } }

.footer-nav__item {
  margin-bottom: 5px; }
  @media (min-width: 1200px) {
    .footer-nav__item {
      display: inline-block; }
      .footer-nav__item + .footer-nav__item:before {
        display: inline-block;
        content: '|';
        margin-right: 5px; } }

.footer-nav__item-linck-wr {
  display: inline-block; }
  .footer-nav__item-linck-wr .footer-nav__link:hover, .footer-nav__item-linck-wr .footer-nav__link:focus {
    color: #6e6e6e; }
  .footer-nav__item-linck-wr + .footer-nav__item-linck-wr:before {
    display: inline-block;
    content: '|';
    margin-right: 5px; }

.main-header {
  padding: 20px 0; }
  @media (min-width: 1200px) {
    .main-header {
      padding: 25px 0 15px;
      overflow: inherit;
      *zoom: 1; }
      .main-header:before, .main-header:after {
        display: table;
        content: ' '; }
      .main-header:after {
        clear: both; } }

.header-inner_sm {
  float: left;
  padding: 0 0 20px;
  position: relative;
  z-index: 2; }
  @media (min-width: 1200px) {
    .header-inner_sm {
      padding: 0;
      overflow: inherit; } }

.logo__wr {
  float: left;
  margin: 0;
  font-size: 1px; }
  @media (min-width: 1200px) {
    .logo__wr img {
      width: 160px;
      height: 45px; } }

.logo-link {
  display: block; }

.btn-toggle_header {
  float: right; }
  @media (min-width: 1200px) {
    .btn-toggle_header {
      display: none; } }

.btn-toggle__icon {
  padding: 3px 0;
  width: 35px;
  display: block; }

.toggle-line {
  height: 6px;
  display: block;
  background-color: #636466;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .toggle-line:not(:last-child) {
    margin-bottom: 3px; }

.header__nav-controls {
  overflow: hidden;
  padding-right: 15px; }
  @media (min-width: 1200px) {
    .header__nav-controls {
      display: inline-block;
      vertical-align: middle;
      padding-right: 0; } }

.header-nav__list-wr {
  background: #fafafa;
  max-height: 0;
  overflow: hidden;
  clear: both; }
  @media (min-width: 1200px) {
    .header-nav__list-wr {
      background: transparent;
      max-height: inherit;
      overflow: inherit;
      display: inline-block;
      vertical-align: middle; } }
  .header-toggle .header-nav__list-wr {
    max-height: 1000px; }

.header__nav {
  margin: 0 -15px;
  position: relative; }
  @media (min-width: 1200px) {
    .header__nav {
      margin: 0;
      float: right;
      white-space: nowrap; } }

.header-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media (min-width: 1200px) {
  .header-nav-list__item {
    display: inline-block; } }

.header-nav__link {
  text-align: center;
  color: #6e6e6e;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  padding: 10px 25px; }
  @media (min-width: 1200px) {
    .header-nav__link {
      padding: 10px 10px; } }
  .header-nav__link:hover, .header-nav__link:focus {
    color: #6e6e6e;
    text-decoration: none; }
    @media (min-width: 1200px) {
      .header-nav__link:hover, .header-nav__link:focus {
        border-radius: 6px;
        background: #fafafa; } }

.header-nav__link_dashboard {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  float: right;
  margin-right: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.15), inset -3px 0 8px rgba(0, 0, 0, 0.15), inset 0 3px 8px white, inset 3px 0 8px white;
  -webkit-box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.15), inset -3px 0 8px rgba(0, 0, 0, 0.15), inset 0 3px 8px white, inset 3px 0 8px white;
  box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.15), inset -3px 0 8px rgba(0, 0, 0, 0.15), inset 0 3px 8px white, inset 3px 0 8px white;
  /*left internal highlight*/ }
  .header-nav__link_dashboard:hover, .header-nav__link_dashboard:focus {
    color: #6e6e6e;
    text-decoration: none; }
  @media (min-width: 1200px) {
    .header-nav__link_dashboard {
      height: 44px;
      font-size: 18px;
      line-height: 24px;
      padding: 10px 25px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 6px;
      margin-right: 0; } }
  .header-nav__link_dashboard .ld-icons_dash {
    font-size: 20px;
    margin-top: -5px; }
    @media (min-width: 1200px) {
      .header-nav__link_dashboard .ld-icons_dash {
        font-size: 30px;
        margin-top: -11px; } }

.container-wrap__header_index {
  background-color: #fff;
  margin-bottom: 40px; }

.logo__wr_index {
  background-color: #fff;
  width: 260px;
  margin: 0 auto 0;
  padding: 0 0 15px;
  text-align: center;
  position: relative;
  bottom: -35px; }

@media (min-width: 1200px) {
  #wrapper {
    min-height: 100vh;
    border-left: 220px solid #79d8df;
    border-right: 90px solid #dfa379; } }

#page-content-wrapper {
  min-height: calc(100vh - 110px); }

.main-content {
  min-height: 300px; }

.container_sm {
  padding: 0 15px; }
  @media (min-width: 1200px) {
    .container_sm {
      padding-left: 30px;
      padding-right: 80px; } }

.container_lg {
  padding: 0 15px; }
  @media (min-width: 1200px) {
    .container_lg {
      padding-left: 30px;
      padding-right: 20px; } }

.index-wrapper {
  background-color: #3b669a;
  min-height: 100vh; }

.user-info__wr {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .user-info__wr {
      margin-right: 35px;
      float: left;
      width: 155px; } }

.user-statistics__wr {
  overflow: hidden; }

.avatar-thumbnail {
  width: 70px;
  height: 70px;
  margin: 0 auto 5px; }

.welcome-text {
  color: #4f8488;
  margin: 0 0 5px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.user-info__action {
  margin: 0 0 5px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }
  .user-info__action a {
    color: #4f8488; }

@media (min-width: 1200px) {
  .nav__header {
    margin-bottom: 15px; } }

@media (min-width: 1200px) {
  .nav__header-inner,
  .latest-leads__header-inner {
    display: block;
    position: relative; } }

.submenu__title {
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  background-color: #79d8df;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px 15px 10px;
  text-align: center;
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .submenu__title {
      -moz-border-radius: 0 10px 10px 0;
      -webkit-border-radius: 0;
      border-radius: 0 10px 10px 0;
      padding: 10px 20px 15px 60px;
      margin-left: -30px;
      margin-bottom: 0;
      text-align: left;
      font-size: 30px;
      line-height: 35px; } }
  @media (min-width: 1200px) {
    .submenu__title .dropdown {
      max-width: 100%;
      display: inline-block; } }
  .submenu__title .dropdown a[data-toggle="dropdown"] {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 15px;
    white-space: nowrap; }
    .submenu__title .dropdown a[data-toggle="dropdown"] .caret {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px; }
  .submenu__title a {
    color: #fff; }
  .submenu__title .dropdown-menu,
  .submenu__title .dropdown-menu__inner {
    width: 100%; }
    @media (min-width: 1200px) {
      .submenu__title .dropdown-menu,
      .submenu__title .dropdown-menu__inner {
        width: auto;
        max-width: 320px; } }
    .submenu__title .dropdown-menu > li > a,
    .submenu__title .dropdown-menu__inner > li > a {
      text-overflow: ellipsis;
      overflow: hidden; }

.dropdown-menu__inner {
  max-height: 60vh;
  overflow-y: auto; }
  @media (min-width: 768px) {
    .dropdown-menu__inner {
      max-height: 350px; } }

@media (min-width: 1400px) {
  .submenu__additional-action-wr {
    margin-left: -15px;
    margin-right: -15px; }

  .submenu__title-wr {
    float: left;
    width: 35%;
    padding: 0 15px; }

  .submenu__main-actions-wr {
    float: left;
    width: 65%;
    padding: 0 15px; } }
.submenu__main-actions {
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    .submenu__main-actions {
      padding-top: 25px;
      margin-bottom: 0; } }

.submenu__btn-group {
  margin-left: -10px;
  margin-right: -10px;
  text-align: justify;
  line-height: 0; }
  .submenu__btn-group .submenu__btn-wr {
    margin-bottom: 15px;
    padding: 0 10px;
    display: inline-block; }
    .submenu__btn-group .submenu__btn-wr .btn {
      font-size: 18px; }
  .submenu__btn-group:after {
    content: '';
    display: inline-block;
    width: 100%; }
  @media (min-width: 1200px) {
    .submenu__btn-group:after {
      display: none; } }
  @media (min-width: 768px) {
    .submenu__btn-group {
      text-align: right; } }

@media (max-width: 991px) {
  .submenu__btn-group_websites .btn {
    min-width: 80px; }
    .submenu__btn-group_websites .btn .btn-icon {
      display: none; } }

.submenu-site-setings__btn-group {
  margin-left: -10px;
  margin-right: -10px; }
  .submenu-site-setings__btn-group .submenu__btn-wr {
    padding: 0 10px;
    display: inline-block; }
    @media (max-width: 1199px) {
      .submenu-site-setings__btn-group .submenu__btn-wr + .submenu__btn-wr {
        border-left: 1px solid #343434; }
      .submenu-site-setings__btn-group .submenu__btn-wr .btn {
        line-height: 18px;
        background-color: transparent;
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: inherit;
        padding: 0;
        font-size: 16px;
        height: auto; }
        .submenu-site-setings__btn-group .submenu__btn-wr .btn .btn-icon {
          display: none; }
        .submenu-site-setings__btn-group .submenu__btn-wr .btn .btn-text {
          color: #343434;
          text-decoration: underline; }
        .submenu-site-setings__btn-group .submenu__btn-wr .btn.active-page {
          font-weight: 700; } }
  @media (min-width: 1200px) {
    .submenu-site-setings__btn-group {
      text-align: right; } }
  .submenu-site-setings__btn-group .btn_shadow:focus, .submenu-site-setings__btn-group .btn_shadow.active-page {
    color: #000; }
    @media (min-width: 1200px) {
      .submenu-site-setings__btn-group .btn_shadow:focus, .submenu-site-setings__btn-group .btn_shadow.active-page {
        background-color: #79d8df;
        color: #fff; } }

.section__wr {
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .section__wr {
      margin-bottom: 80px; } }

.latest-leads__filters .latest-leads-filters__list {
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 15px; }
  .latest-leads__filters .latest-leads-filters__list:after {
    content: '';
    display: inline-block;
    width: 100%; }
  @media (min-width: 1200px) {
    .latest-leads__filters .latest-leads-filters__list {
      margin: 0; }
      .latest-leads__filters .latest-leads-filters__list:after {
        display: none; } }

@media (min-width: 1200px) {
  .submenu__title .dropdown .caret,
  .latest-leads-filters__list .dropdown .caret {
    border-left: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left-width: 9px; }
  .submenu__title .dropdown .dropdown-menu,
  .latest-leads-filters__list .dropdown .dropdown-menu {
    top: 0;
    left: 100%; } }

@media (min-width: 1200px) {
  .dropdown-right .caret {
    border-left: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left-width: 9px; }
  .dropdown-right .dropdown-menu {
    top: 0;
    left: 100%; } }

@media (min-width: 1200px) {
  .latest-leads-filters__collapse {
    display: block !important;
    position: fixed;
    left: 35px;
    top: 90px;
    z-index: 1000;
    max-width: 160px; } }

.latest-leads-filters__collapse_top .filter-label {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }
@media (min-width: 1200px) {
  .latest-leads-filters__collapse_top {
    display: block !important;
    position: fixed;
    left: 35px;
    top: 20px;
    z-index: 1000;
    max-width: 160px; } }

.latest-leads-filters__list-item {
  padding: 0 15px 15px;
  font-size: 14px; }
  @media (min-width: 1200px) {
    .latest-leads-filters__list-item {
      margin-bottom: 25px;
      padding: 0; } }
  .latest-leads-filters__list-item .btn {
    font-size: 18px; }

.latest-leads-filters__collapse .latest-leads-filters__list-item {
  float: left; }
  @media (max-width: 499px) {
    .latest-leads-filters__collapse .latest-leads-filters__list-item {
      width: 50%; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(even) {
        text-align: right; }
        .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(even) .dropdown-menu {
          left: auto;
          right: 0; }
        .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(even) .filter-label {
          text-align: right; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(2n+3) {
        clear: left; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .latest-leads-filters__collapse .latest-leads-filters__list-item {
      width: 33.333%; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(3n) .dropdown-menu {
        left: auto;
        right: 0; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(4n+4) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .latest-leads-filters__collapse .latest-leads-filters__list-item {
      width: 25%; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(4n) .dropdown-menu {
        left: auto;
        right: 0; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(5n+5) {
        clear: left; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .latest-leads-filters__collapse .latest-leads-filters__list-item {
      width: 20%; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(5n) .dropdown-menu {
        left: auto;
        right: 0; }
      .latest-leads-filters__collapse .latest-leads-filters__list-item:nth-of-type(6n+6) {
        clear: left; } }
  .latest-leads-filters__collapse .latest-leads-filters__list-item .dropdown {
    display: inline-block; }
  @media (min-width: 1200px) {
    .latest-leads-filters__collapse .latest-leads-filters__list-item {
      float: none; } }

.form-group-search__wr {
  margin-bottom: 20px;
  position: relative; }
  @media (min-width: 768px) {
    .form-group-search__wr {
      padding-left: 20px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .form-group-search__wr {
      float: right;
      width: 40%; } }
  @media (min-width: 992px) {
    .form-group-search__wr + .submenu__btn-group {
      float: right;
      width: 60%; } }
  @media (min-width: 1200px) {
    .form-group-search__wr {
      float: right;
      margin-bottom: 0;
      width: 240px; } }
  .form-group-search__wr .form-control {
    padding-right: 40px;
    border-radius: 10px; }
  .form-group-search__wr .btn-search {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    font-size: 23px;
    color: #4f8488;
    text-align: center;
    padding: 0; }
    .form-group-search__wr .btn-search:focus {
      outline: none;
      color: #343434; }

.latest-leads__filters-header {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  background: #79d8df; }
  @media (min-width: 1200px) {
    .latest-leads__filters-header {
      display: none;
      margin: 0; } }

.latest-leads__filters-header-title {
  padding-right: 65px;
  text-align: center;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.latest-leads__filters-header-btn-wr {
  float: right;
  margin-right: 25px; }

.copy-block__label {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
  margin-bottom: 10px; }

pre {
  background-color: #efefef;
  border: 1px solid #7e7e7e;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.copy-block__button-group.text-right .btn {
  margin-bottom: 5px; }
  .copy-block__button-group.text-right .btn + .btn {
    margin-left: 10px; }
    @media (min-width: 768px) {
      .copy-block__button-group.text-right .btn + .btn {
        margin-left: 20px; } }

.form-group__inner {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .form-group__inner {
      margin-bottom: 0; } }

.form-group__actions-wr {
  text-align: right; }
  @media (min-width: 768px) {
    .form-group__actions-wr {
      text-align: left; } }

.btn-group__form-group-action .btn {
  color: #343434;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  min-width: 30px;
  padding: 5px;
  margin-bottom: 5px; }
  .btn-group__form-group-action .btn:not(:last-child) {
    margin-right: 5px; }

.panel-body_gray {
  background-color: #dee1e1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.site-block-position__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 15px;
  text-align: center; }

.site-block-position__wr {
  max-width: 900px; }

.site-block-position {
  margin-bottom: 20px; }

.site-block-position__inner {
  margin-bottom: 20px; }

.site-block-position__action {
  padding: 10px 20px;
  border: 2px solid #848484;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px; }
  .site-block-position__action .form-control {
    font-size: 18px;
    line-height: 1; }
  .site-block-position__action .site-block-position__row-wr:not(:last-child):after {
    content: '';
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 5px; }

.position-action-label {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px; }

.desktop-block-position {
  max-width: 600px;
  margin: 0 auto; }

.mobile-block-position {
  max-width: 120px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .mobile-block-position {
      max-width: 182px; } }

.desktop-block-position {
  position: relative; }

.desktop-block-position__btn-group {
  position: absolute;
  left: 4.16667%;
  right: 4.16667%;
  top: 11.76471%;
  bottom: 7.35294%; }

.btn__block-position {
  background-color: #b0b1b1;
  border: 2px solid white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 3.9px 3.1px 6px rgba(52, 52, 52, 0.21);
  -webkit-box-shadow: 3.9px 3.1px 6px rgba(52, 52, 52, 0.21);
  box-shadow: 3.9px 3.1px 6px rgba(52, 52, 52, 0.21);
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 14.54545%;
  text-align: center;
  padding: 0;
  width: 16.36364%;
  height: 14.54545%;
  position: absolute; }
  .btn__block-position span {
    opacity: 0; }
  .btn__block-position.btn__active-position {
    background-color: #dfa379;
    z-index: 11; }
    .btn__block-position.btn__active-position span {
      opacity: 1; }
  .btn__block-position:not(.btn__active-position):hover {
    color: #fff;
    background-color: #dfa379; }
  .btn__block-position:hover, .btn__block-position:focus {
    outline: none;
    color: #fff; }
  @media (min-width: 1200px) {
    .btn__block-position {
      font-size: 15px; } }

.block-position-1 {
  left: 0;
  top: 10.90909%; }

.block-position-2 {
  left: 0;
  top: 27.27273%;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: top left;
  margin-top: 16.3%; }

.block-position-3 {
  left: 0;
  bottom: 0; }

.block-position-4 {
  bottom: 0;
  left: 17.27273%; }

.block-position-5 {
  bottom: 16.36364%;
  left: 7.63636%;
  z-index: 10; }
  @media (min-width: 768px) {
    .block-position-5 {
      bottom: 10.90909%; } }

.block-position-6 {
  bottom: 16.36364%;
  right: 7.63636%;
  z-index: 10; }
  @media (min-width: 768px) {
    .block-position-6 {
      bottom: 10.90909%; } }

.block-position-7 {
  bottom: 0;
  right: 17.27273%; }

.block-position-8 {
  bottom: 0;
  right: 0; }

.block-position-9 {
  right: 0;
  top: 27.27273%;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: top right;
  margin-right: 7.3%; }

.block-position-10 {
  right: 0;
  top: 10.90909%; }

.mobile-block-position {
  position: relative; }

.mobile-block-position__btn-group {
  position: absolute;
  left: 10.98901%;
  right: 10.98901%;
  top: 15.06849%;
  bottom: 15.06849%; }

.block-position-11 {
  left: 18.30986%;
  bottom: 0; }

.btn__block-position_mobile {
  background-color: #b0b1b1;
  border: 2px solid white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 3.9px 3.1px 6px rgba(52, 52, 52, 0.21);
  -webkit-box-shadow: 3.9px 3.1px 6px rgba(52, 52, 52, 0.21);
  box-shadow: 3.9px 3.1px 6px rgba(52, 52, 52, 0.21);
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 14.54545%;
  text-align: center;
  padding: 0;
  width: 63.38028%;
  height: 15.68627%;
  position: absolute; }
  @media (min-width: 768px) {
    .btn__block-position_mobile {
      font-size: 15px; } }
  .btn__block-position_mobile:hover, .btn__block-position_mobile:focus {
    color: #fff;
    background-color: #79d8df; }
  .btn__block-position_mobile span {
    opacity: 0; }
  .btn__block-position_mobile.btn__active-position {
    background-color: #dfa379; }
    .btn__block-position_mobile.btn__active-position span {
      opacity: 1; }

.under-construction {
  text-align: center;
  color: #343434;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  padding: 20px 0; }

.middle-box-index {
  max-width: 470px;
  margin: 0 auto;
  padding: 20px 20px;
  color: #fff; }
  @media (min-width: 768px) {
    .middle-box-index {
      padding: 100px 20px; } }

.caption-text {
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0; }

.index-link {
  font-size: 18px;
  color: #dfa379; }
  .index-link:hover, .index-link:focus {
    color: #dfa379; }

.index__title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px; }

.index-form__header {
  margin-bottom: 50px; }

.filter-label {
  text-align: left; }

.filter-label ul {
  margin-bottom: 0; }

.filter-label li {
  padding: 2px 0 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

.caret_up {
  border-bottom: 4px dashed;
  border-bottom-width: 9px;
  border-top: none; }

.latest-leads-filters__list-item .dropdown {
  display: inline-block; }

.accordion-toggle {
  display: none; }

@media screen and (min-width: 401px) {
  .input4lean {
    display: none !important; }

  .input4wide {
    display: block !important; } }
@media screen and (max-width: 400px) {
  .input4lean {
    display: block !important; }

  .input4wide {
    display: none !important; } }
.dropdown-menu__inner {
  padding: 0;
  margin: 0;
  list-style: none; }
  .dropdown-menu__inner > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #343434;
    white-space: nowrap; }

.dropdown-menu__inner > li > a:hover, .dropdown-menu__inner > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu__inner > .active > a, .dropdown-menu__inner > .active > a:hover, .dropdown-menu__inner > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #79d8df; }

.owl-carousel {
  display: none;
  width: 100%;
  position: relative;
  z-index: 1; }
  .owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both; }
  .owl-carousel .owl-animated-in {
    z-index: 0; }
  .owl-carousel .owl-animated-out {
    z-index: 1; }
  .owl-carousel .fadeOut {
    animation-name: fadeOut; }
  .owl-carousel .owl-stage {
    position: relative; }
    .owl-carousel .owl-stage:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden; }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left; }
    .owl-carousel .owl-item img {
      display: block;
      width: 100%;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d; }
    .owl-carousel .owl-item .owl-lazy {
      opacity: 0;
      -moz-transition: opacity 400ms ease;
      -o-transition: opacity 400ms ease;
      -webkit-transition: opacity 400ms ease;
      transition: opacity 400ms ease; }
  .owl-carousel .owl-nav.disabled {
    display: none; }
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
    .owl-carousel.owl-rtl .owl-item {
      float: right; }
  .owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }
  .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -moz-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    -webkit-transition: scale 100ms ease;
    transition: scale 100ms ease; }
    .owl-carousel .owl-video-play-icon:hover {
      -moz-transition: scale(1.3, 1.3);
      -o-transition: scale(1.3, 1.3);
      -webkit-transition: scale(1.3, 1.3);
      transition: scale(1.3, 1.3); }
  .owl-carousel .owl-video-playing .owl-video-tn {
    display: none; }
  .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }
  .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel.owl-refresh .owl-item {
    display: none; }
  .owl-carousel.owl-drag .owl-item {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.owl-height {
  -moz-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-theme .owl-nav {
  margin-top: 0;
  text-align: center; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #343434;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      text-decoration: none;
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
  .owl-theme .owl-nav .disabled {
    display: none; }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px; }
  .owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -15px;
    z-index: 3; }
  .owl-theme .owl-nav .owl-next {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -15px;
    z-index: 3; }

.carusel-arrow {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #343434;
  border-width: 8px 18px;
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1; }
  .carusel-arrow.carusel-arrow_right {
    border-color: transparent #343434 transparent transparent;
    border-left-width: 0; }
  .carusel-arrow.carusel-arrow_left {
    border-color: transparent transparent transparent #343434;
    border-right-width: 0; }

.panel-default_custom {
  border-width: 2px; }
  .panel-default_custom .panel-heading {
    -moz-border-radius: 7px 7px 10px 10px;
    -webkit-border-radius: 7px;
    border-radius: 7px 7px 10px 10px;
    padding: 5px 10px; }
  .panel-default_custom .panel-title {
    font-size: 18px;
    font-weight: 400; }
  .panel-default_custom .panel-body {
    padding: 10px; }
  @media (min-width: 768px) {
    .panel-default_custom .panel-title {
      font-size: 24px; }
    .panel-default_custom .panel-heading {
      padding: 15px 45px; }
    .panel-default_custom .panel-body {
      padding: 20px 45px; } }

.panel-default_shadow {
  background-color: #fff;
  -moz-box-shadow: 11px 8.6px 24px rgba(107, 107, 107, 0.21);
  -webkit-box-shadow: 11px 8.6px 24px rgba(107, 107, 107, 0.21);
  box-shadow: 11px 8.6px 24px rgba(107, 107, 107, 0.21); }

.tabcollapse-accordion .panel-heading {
  padding: 5px 10px 10px;
  border-radius: 9px; }
  .tabcollapse-accordion .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
    padding: 10px; }

.tabcollapse-tab.nav-tabs {
  border-bottom: none; }
  .tabcollapse-tab.nav-tabs > li {
    margin-bottom: -2px; }
    .tabcollapse-tab.nav-tabs > li a {
      margin-right: 20px;
      border-width: 2px;
      background-color: #b0b1b1;
      min-width: 170px;
      color: #343434;
      font-size: 24px;
      line-height: 30px;
      font-weight: 400;
      padding: 5px 20px; }
    .tabcollapse-tab.nav-tabs > li.active a {
      border-width: 2px;
      background-color: #fff;
      border-color: #b0b1b1;
      position: relative; }
      .tabcollapse-tab.nav-tabs > li.active a:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #fff; }
    .tabcollapse-tab.nav-tabs > li:hover a {
      border-color: #b0b1b1; }
.tabcollapse-tab.tab-content {
  padding: 20px;
  background-color: #fff;
  border: 2px solid #b0b1b1;
  -moz-border-radius: 0 10px 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 10px 10px 10px;
  -moz-box-shadow: 11px 8.6px 24px rgba(107, 107, 107, 0.21);
  -webkit-box-shadow: 11px 8.6px 24px rgba(107, 107, 107, 0.21);
  box-shadow: 11px 8.6px 24px rgba(107, 107, 107, 0.21); }
.tabcollapse-tab .tab-pane.active {
  min-height: 150px; }

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.sr-only, .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after, .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after, .bootstrap-datetimepicker-widget .btn[data-action="today"]::after, .bootstrap-datetimepicker-widget .picker-switch::after, .bootstrap-datetimepicker-widget table th.prev::after, .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.bootstrap-datetimepicker-widget {
  list-style: none; }
  .bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 19em; }
    @media (min-width: 768px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    @media (min-width: 992px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    @media (min-width: 1200px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    .bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after {
      content: '';
      display: inline-block;
      position: absolute; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      top: -7px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      top: -6px;
      left: 8px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #ccc;
      border-top-color: rgba(0, 0, 0, 0.2);
      bottom: -7px;
      left: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid white;
      bottom: -6px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
      left: auto;
      right: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
      left: auto;
      right: 7px; }
  .bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0; }
  .bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0; }
  .bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none; }
  .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0; }
  .bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    content: "Increment Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    content: "Increment Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    content: "Decrement Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    content: "Decrement Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    content: "Show Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    content: "Show Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    content: "Toggle AM/PM"; }
  .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    content: "Clear the picker"; }
  .bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    content: "Set the date to today"; }
  .bootstrap-datetimepicker-widget .picker-switch {
    text-align: center; }
    .bootstrap-datetimepicker-widget .picker-switch::after {
      content: "Toggle Date and Time Screens"; }
    .bootstrap-datetimepicker-widget .picker-switch td {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      line-height: inherit; }
      .bootstrap-datetimepicker-widget .picker-switch td span {
        line-height: 2.5;
        height: 2.5em;
        width: 100%; }
  .bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0; }
    .bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
      text-align: center;
      border-radius: 10px; }
    .bootstrap-datetimepicker-widget table th {
      height: 20px;
      line-height: 20px;
      width: 20px; }
      .bootstrap-datetimepicker-widget table th.picker-switch {
        width: 145px; }
      .bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
        background: none;
        color: #777;
        cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table th.prev::after {
        content: "Previous Month"; }
      .bootstrap-datetimepicker-widget table th.next::after {
        content: "Next Month"; }
    .bootstrap-datetimepicker-widget table thead tr:first-child th {
      cursor: pointer; }
      .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
        background: #eeeeee; }
    .bootstrap-datetimepicker-widget table td {
      height: 54px;
      line-height: 54px;
      width: 54px; }
      .bootstrap-datetimepicker-widget table td.cw {
        font-size: .8em;
        height: 20px;
        line-height: 20px;
        color: #777777; }
      .bootstrap-datetimepicker-widget table td.day {
        height: 20px;
        line-height: 20px;
        width: 20px; }
      .bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
        background: #eeeeee;
        cursor: pointer; }
      .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
        color: #777777; }
      .bootstrap-datetimepicker-widget table td.today {
        position: relative; }
        .bootstrap-datetimepicker-widget table td.today:before {
          content: '';
          display: inline-block;
          border: 0 0 7px 7px solid transparent;
          border-bottom-color: #79d8df;
          border-top-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: 4px;
          right: 4px; }
      .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
        background-color: #79d8df;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
      .bootstrap-datetimepicker-widget table td.active.today:before {
        border-bottom-color: #fff; }
      .bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
        background: none;
        color: #777;
        cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table td span {
        display: inline-block;
        width: 54px;
        height: 54px;
        line-height: 54px;
        margin: 2px 1.5px;
        cursor: pointer;
        border-radius: 10px; }
        .bootstrap-datetimepicker-widget table td span:hover {
          background: #eeeeee; }
        .bootstrap-datetimepicker-widget table td span.active {
          background-color: #79d8df;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
        .bootstrap-datetimepicker-widget table td span.old {
          color: #777777; }
        .bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
          background: none;
          color: #777;
          cursor: not-allowed; }
  .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px; }

.input-group.date .input-group-addon {
  cursor: pointer; }

.bootstrap-datetimepicker-widget table td.disabled {
  color: #ddd; }
