/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  color: #6e6e6e; }

.btn-icon_l {
  margin-right: 5px; }

.btn-icon {
  display: inline-block;
  vertical-align: middle; }

.btn-text {
  vertical-align: middle;
  display: inline-block; }

@media (min-width: 1400px) {
  .display-inline-block-xlg {
    display: inline-block; } }
html,
body {
  height: 100%; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after {
  clear: both; }

.clearfix {
  overflow: initial;
  *zoom: 1; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px; }
  body * {
    box-sizing: border-box; }

@font-face {
  font-family: 'leadux-pr';
  src: url("../fonts/leadux-pr/fonts/leadux-pr.eot?a5akp1");
  src: url("../fonts/leadux-pr/fonts/leadux-pr.eot?a5akp1#iefix") format("embedded-opentype"), url("../fonts/leadux-pr/fonts/leadux-pr.ttf?a5akp1") format("truetype"), url("../fonts/leadux-pr/fonts/leadux-pr.woff?a5akp1") format("woff"), url("../fonts/leadux-pr/fonts/leadux-pr.svg?a5akp1#leadux") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="pr-icons"], [class*="pr-icons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'leadux-pr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pr-icons_pri-1:before {
  content: "\e900"; }

.pr-icons_pri-2:before {
  content: "\e901"; }

.pr-icons_pri-3:before {
  content: "\e902"; }

.pr-icons_pri-4:before {
  content: "\e903"; }

.pr-text {
  position: relative;
  z-index: 2;
  color: #f2f2f2;
  font-size: 11px; }
  .pr-text p {
    margin: 0;
    font-weight: normal; }

.pr-icon__wr {
  position: relative;
  z-index: 2; }

.pr-bg {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1; }

.pr-icon__wr {
  font-size: 26px; }

.pr__wr {
  position: relative;
  width: 240px;
  min-height: 50px; }

.pr-1 {
  padding: 8px 90px 15px 45px; }
  .pr-1.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-1.pr__wr_big .pr-icon__wr {
      top: 10px; }
  .pr-1 .pr-icon__wr {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #f2f2f2;
    font-size: 26px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    padding: 1px; }
    .pr-1 .pr-icon__wr .pr-icon {
      vertical-align: middle; }

.pr-2 {
  padding: 8px 80px 15px 60px; }
  .pr-2.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-2.pr__wr_big .pr-icon__wr {
      top: 10px;
      left: 15px; }
  .pr-2 .pr-icon__wr {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    padding: 1px; }
    .pr-2 .pr-icon__wr .pr-icon {
      vertical-align: middle; }

.pr-3 {
  margin-top: 10px;
  padding: 8px 80px 15px 45px; }
  .pr-3.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-3.pr__wr_big .pr-icon__wr {
      top: -8px;
      right: -8px; }
  .pr-3 .pr-icon__wr {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    padding: 1px; }
    .pr-3 .pr-icon__wr .pr-icon {
      vertical-align: middle; }

.pr-4 {
  margin-top: 10px;
  padding: 8px 80px 15px 45px; }
  .pr-4.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
  .pr-4 .pr-icon__wr {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 26px; }

.pr-5 {
  margin-top: 10px;
  padding: 8px 20px 15px 110px; }
  .pr-5.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-5.pr__wr_big .pr-icon__wr {
      left: 55px;
      top: 15px; }
  .pr-5 .pr-icon__wr {
    position: absolute;
    top: 10px;
    left: 45px;
    color: #fff;
    font-size: 26px; }

.pr-6 {
  margin-top: 10px;
  padding: 8px 50px 15px 80px; }
  .pr-6.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-6.pr__wr_big .pr-icon__wr {
      left: 12px;
      top: 15px; }
  .pr-6 .pr-icon__wr {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    font-size: 26px; }

.pr-7 {
  margin-top: 10px;
  padding: 8px 50px 15px 80px; }
  .pr-7.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-7.pr__wr_big .pr-icon__wr {
      left: 12px;
      top: 15px; }
  .pr-7 .pr-icon__wr {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    font-size: 26px; }

.pr-8 {
  margin-top: 10px;
  padding: 8px 50px 15px 80px; }
  .pr-8.pr__wr_big {
    padding-top: 10px;
    padding-bottom: 20px; }
    .pr-8.pr__wr_big .pr-icon__wr {
      left: 12px;
      top: 15px; }
  .pr-8 .pr-icon__wr {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    font-size: 26px; }
