.desktop-table-responsive
  table
    thead
      tr.desktop-table-tr__hide
        th.table-row-checkbox-wr
          .custom-checkbox
            input#chAll(type="checkbox")
            label(for="chAll")
        th
          span.th-col-label Interaction date
            span.caret
        th
          span.th-col-label Submission date
            span.caret
        th
          span.th-col-label Contry
            span.caret
        th
          span.th-col-label Name
            span.caret
        th
          span.th-col-label Tel
            span.caret
        th
          span.th-col-label Email
            span.caret
        th
          span.th-col-label Websites
            span.caret
        th
          span.th-col-label Status
            span.caret
        th
          span.th-col-label Description
            span.caret
        th.table__show-more-wr

    tbody
      tr
        td.table-row-checkbox-wr
          .custom-checkbox
            input#ch1(type="checkbox")
            label(for="ch1")
        td 06.04.2016, 18:00
        td 06.04.2016, 18:00
        td RU
        td John Pelageev
        td +49173545373
        td porcroi@webmail.com
        td submitted
        td sustvzdorov.ru
        td Lorem ipsum dolor sit amet,
        td.table__show-more-wr
          a(href="").btn.btn-sm.btn-outline.js-full-info
            span.default-text full info
            span.active-text close
      tr.table__full-info-tr
        td(colspan="11").table__full-info-td
          .table__full-info-wr.js-full-info__show-block
            table.table__full-info
              thead.table__full-info-thead
                tr
                  th City
                  th Referrer
                  th Returning
                  th Number1
                  th Number2
                  th Number3
                  th Number4
                  th Number5
                  th Number6
              tbody.table__full-info-tbody
                tr
                  td Berlin
                  td sustavzdorov.ru
                  td NO
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
      tr.even
        td.table-row-checkbox-wr
          .custom-checkbox
            input#ch2(type="checkbox")
            label(for="ch2")
        td 06.04.2016, 18:00
        td 06.04.2016, 18:00
        td RU
        td John Pelageev
        td +49173545373
        td porcroi@webmail.com
        td submitted
        td sustvzdorov.ru
        td Lorem ipsum dolor sit amet,
        td.table__show-more-wr
          a(href="").btn.btn-sm.btn-outline.js-full-info
            span.default-text full info
            span.active-text close
      tr.table__full-info-tr
        td(colspan="11").table__full-info-td
          .table__full-info-wr.js-full-info__show-block
            table.table__full-info
              thead.table__full-info-thead
                tr
                  th City
                  th Referrer
                  th Returning
                  th Number1
                  th Number2
                  th Number3
                  th Number4
                  th Number5
                  th Number6
              tbody.table__full-info-tbody
                tr
                  td Berlin
                  td sustavzdorov.ru
                  td NO
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
      tr
        td.table-row-checkbox-wr
          .custom-checkbox
            input#ch3(type="checkbox")
            label(for="ch3")
        td 06.04.2016, 18:00
        td 06.04.2016, 18:00
        td RU
        td John Pelageev
        td +49173545373
        td porcroi@webmail.com
        td submitted
        td sustvzdorov.ru
        td Lorem ipsum dolor sit amet,
        td.table__show-more-wr
          a(href="").btn.btn-sm.btn-outline.js-full-info
            span.default-text full info
            span.active-text close
      tr.table__full-info-tr
        td(colspan="11").table__full-info-td
          .table__full-info-wr.js-full-info__show-block
            table.table__full-info
              thead.table__full-info-thead
                tr
                  th City
                  th Referrer
                  th Returning
                  th Number1
                  th Number2
                  th Number3
                  th Number4
                  th Number5
                  th Number6
              tbody.table__full-info-tbody
                tr
                  td Berlin
                  td sustavzdorov.ru
                  td NO
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
      tr.even
        td.table-row-checkbox-wr
          .custom-checkbox
            input#ch4(type="checkbox")
            label(for="ch4")
        td 06.04.2016, 18:00
        td 06.04.2016, 18:00
        td RU
        td John Pelageev
        td +49173545373
        td porcroi@webmail.com
        td submitted
        td sustvzdorov.ru
        td Lorem ipsum dolor sit amet,
        td.table__show-more-wr
          a(href="").btn.btn-sm.btn-outline.js-full-info
            span.default-text full info
            span.active-text close
      tr.table__full-info-tr
        td(colspan="11").table__full-info-td
          .table__full-info-wr.js-full-info__show-block
            table.table__full-info
              thead.table__full-info-thead
                tr
                  th City
                  th Referrer
                  th Returning
                  th Number1
                  th Number2
                  th Number3
                  th Number4
                  th Number5
                  th Number6
              tbody.table__full-info-tbody
                tr
                  td Berlin
                  td sustavzdorov.ru
                  td NO
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff
                  td some usefull staff