.container-wrap.container-wrap__footer
  .container_sm
    footer.main-footer
      nav
        ul.footer-nav
          li.footer-nav__item © 2016 LEADUX GmbH
          li.footer-nav__item All Rights Reserved
          li.footer-nav__item.footer-nav__item-linck-wr: a(href="").footer-nav__link Terms of Service
          li.footer-nav__item.footer-nav__item-linck-wr: a(href="").footer-nav__link Privacy Policy
