.container-wrap.container-wrap__header_index
  header.index-header
    .header-inner_index
      h1.logo__wr_index
        span.sr-only Logo
        span.logo-link
          +svg_ie8('logo_leadux', 160, 45)
