.container-wrap.container-wrap__header
  .container_sm
    header.main-header
      .header-inner_sm
        h1.logo__wr
          span.sr-only Logo
          a(href="index.html").logo-link
            +svg_ie8('logo_leadux', 110, 30)
      .header__nav
        .header__nav-controls
          a(href="", data-toggle-wrapper="header-toggle").btn-toggle.btn-toggle_header.js-btn-toggle
            span.btn-toggle__icon
              span.toggle-line.toggle-line-1
              span.toggle-line.toggle-line-2
              span.toggle-line.toggle-line-3
          if(dash)
            a(href="index.html").btn.btn-primary.btn_shadow.header-nav__link_dashboard
              i.ld-icons_dash.btn-icon.btn-icon_l
              span.btn-text dashboard
        nav.header-nav__list-wr
          ul.header-nav__list
            li.header-nav-list__item: a(href="websites.html").header-nav__link websites
            li.header-nav-list__item: a(href="").header-nav__link support
            li.header-nav-list__item: a(href="").header-nav__link log out


.latest-leads-filters__collapse_top
  .latest-leads-filters__list
    .latest-leads-filters__list-item
      .dropdown
        a.btn.btn-warning.btn_shadow.btn-110(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | profile 
          span.caret
        ul.dropdown-menu(aria-labelledby='dLabel')
          li
            a.ng-binding(href='') Leadamaze
          li
            a.ng-binding(href='') Publish
      .filter-label Publish

