.mobile-table-responsive
  .mobile-table-responsive__header
    .checkbox
      .custom-checkbox
        input#CheckAll(type="checkbox")
        label(for="CheckAll") Check all
  .mobile-table-responsive__body
    .mobile-table__carusel.owl-carousel.owl-theme
      .mobile-table__carusel-item
        .table-row-checkbox__tr
          .custom-checkbox
            input#ch5(type="checkbox")
            label(for="ch5")
              span.sr-only Check line
        table
          tr
            td Interaction date
            td 06.04.2016, 18:00
          tr
            td Submission date
            td 06.04.2016, 18:00
          tr
            td Contry
            td RU
          tr
            td Name
            td John Pelageev
          tr
            td Tel
            td +49173545373

      .mobile-table__carusel-item
        table
          tr
            td Email 
            td porcroi@webmail.com
          tr
            td Websites 
            td submitted
          tr
            td Status 
            td sustvzdorov.ru
          tr
            td Description 
            td Lorem ipsum dolor sit amet,
          tr
            td City
            td Berlin

      .mobile-table__carusel-item
        table
          tr
            td Referrer
            td sustavzdorov.ru
          tr
            td Returning
            td NO
          tr
            td Number1
            td some usefull staff
          tr
            td Number2
            td some usefull staff
          tr
            td Number3
            td ome usefull staff

    .mobile-table__carusel.owl-carousel.owl-theme
      .mobile-table__carusel-item
        .table-row-checkbox__tr
          .custom-checkbox
            input#ch6(type="checkbox")
            label(for="ch6")
        table
          tr
            td Interaction date
            td 06.04.2016, 18:00
          tr
            td Submission date
            td 06.04.2016, 18:00
          tr
            td Contry
            td RU
          tr
            td Name
            td John Pelageev
          tr
            td Tel
            td +49173545373

      .mobile-table__carusel-item
        table
          tr
            td Email 
            td porcroi@webmail.com
          tr
            td Websites 
            td submitted
          tr
            td Status 
            td sustvzdorov.ru
          tr
            td Description 
            td Lorem ipsum dolor sit amet,