.website-info__tables-wr
  .website-info__tables-header.clearfix
    .wesite-statistics-table__label
      .th-wesite__label
        span.th-col-label Website
          span.caret
    .wesite-status-info-table__labels
      .th-wesite__label Script
      .th-wesite__label Contact Form
      .th-wesite__label Chat

  .website-info__tables-body
  .website-info__table.clearfix
    .website-info__table__header
      .checkbox
        .custom-radio
          input#website1(type="checkbox")
          label(for="website1") website1.com
    .website-info__table__body
      .website-info__table-wr
        table
          tr
            td.website-status__lable script
            td.website-status__wr
              span.website-status.website_success online
          tr
            td.website-status__lable contact form
            td.website-status__wr
              span.website-status.website_success float
          tr
            td.website-status__lable chat
            td.website-status__wr
              span.website-status.website_danger offline


      .website-info__statistics__table-wr
        .website-statistics__table
          .website-statistics-table__header
            .website-statistics-table__title-wr
              .website-statistics-table__title the total amount of traffic
            .website-statistics-table__title-wr
              .website-statistics-table__title the total number of leads

          .website-statistics-table__body
            .website-statistics-table__col.website-statistics-table__col_time
              .website-statistics-table__sm-row
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 7 d
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 24 h
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 30 d
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 3 mo

            .website-statistics-table__col.website-statistics-table__col_data
              .website-statistics-table__sm-row
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 55
                  span.website-statistics-table__time-lg 7 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 555
                  span.website-statistics-table__time-lg 30 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 555
                  span.website-statistics-table__time-lg 3 months
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 555
                  span.website-statistics-table__time-lg 3 months
                
              .website-statistics-table__sm-row
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 50
                  span.website-statistics-table__time-lg 7 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 55
                  span.website-statistics-table__time-lg 30 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 60
                  span.website-statistics-table__time-lg 3 months
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 777
                  span.website-statistics-table__time-lg 3 months


  .website-info__table.clearfix
    .website-info__table__header
      .checkbox
          label
            input(type="checkbox") 
            | website2.com
    .website-info__table__body
      .website-info__table-wr
        table
          tr
            td.website-status__lable script
            td.website-status__wr
              img(src="img/png/icons_mk-del.png", alt="", width="15")
          tr
            td.website-status__lable contact form
            td.website-status__wr
              span.website-status.website_success float
          tr
            td.website-status__lable chat
            td.website-status__wr
              img(src="img/png/icons_mk-check.png", alt="", width="15")

      .website-info__statistics__table-wr
        .website-statistics__table
          .website-statistics-table__header
            .website-statistics-table__title-wr
              .website-statistics-table__title the total amount of traffic
            .website-statistics-table__title-wr
              .website-statistics-table__title the total number of leads

          .website-statistics-table__body
            .website-statistics-table__col.website-statistics-table__col_time
              .website-statistics-table__sm-row
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 7 d
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 24 h
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 30 d
                .website-statistics-table__sm-cell.website-statistics-table__time
                  span.website-table-statistics-content 3 mo

            .website-statistics-table__col.website-statistics-table__col_data
              .website-statistics-table__sm-row
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 555
                  span.website-statistics-table__time-lg 7 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 555
                  span.website-statistics-table__time-lg 30 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 553
                  span.website-statistics-table__time-lg 3 months
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 555
                  span.website-statistics-table__time-lg 3 months
                
              .website-statistics-table__sm-row
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 50
                  span.website-statistics-table__time-lg 7 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 55
                  span.website-statistics-table__time-lg 30 days
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 60
                  span.website-statistics-table__time-lg 3 months
                .website-statistics-table__sm-cell.website-statistics-table__data
                  span.website-table-statistics-content 777
                  span.website-statistics-table__time-lg 3 months