// ==========================================================================
//    Author's custom styles
// ==========================================================================
html {
    font-size: 62.5%;
}

body {
    min-width: 320px;
    margin: 0 auto;
    background: #fff;
    color: $text-color;
}

.btn-icon_l {
    margin-right: 5px;
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
}

.btn-text {
    vertical-align: middle;
    display: inline-block;
}

@media (min-width: $screen-xlg) {
    .display-inline-block-xlg {
        display: inline-block;
    }
}

html,
body {
    height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    clear: both;
}
// 
// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
// 
.clearfix
{
    overflow: initial;
    *zoom: 1;
}