// Roboto

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/RobotoCondensed/robotothin.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotothin.woff') format('woff'), url('../fonts/RobotoCondensed/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/RobotoCondensed/robotothinitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotothinitalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/RobotoCondensed/robotolight.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotolight.woff') format('woff'), url('../fonts/RobotoCondensed/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/RobotoCondensed/robotolightitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotolightitalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/RobotoCondensed/roboto.woff2') format('woff2'), url('../fonts/RobotoCondensed/roboto.woff') format('woff'), url('../fonts/RobotoCondensed/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/RobotoCondensed/robotoitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotoitalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/RobotoCondensed/robotomedium.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotomedium.woff') format('woff'), url('../fonts/RobotoCondensed/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/RobotoCondensed/robotomediumitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotomediumitalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/RobotoCondensed/robotobold.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotobold.woff') format('woff'), url('../fonts/RobotoCondensed/robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/RobotoCondensed/robotobolditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotobolditalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/RobotoCondensed/robotoblack.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotoblack.woff') format('woff'), url('../fonts/RobotoCondensed/robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/RobotoCondensed/robotoblackitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotoblackitalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


// Arial Narrow

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/ArialNarrow/ArialNarrow.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialNarrow/ArialNarrow.woff') format('woff'), url('../fonts/ArialNarrow/ArialNarrow.ttf')  format('truetype'), url('../fonts/ArialNarrow/ArialNarrow.svg#ArialNarrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/ArialNarrow/ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialNarrow/ArialNarrow-Bold.woff') format('woff'), url('../fonts/ArialNarrow/ArialNarrow-Bold.ttf')  format('truetype'), url('../fonts/ArialNarrow/ArialNarrow-Bold.svg#ArialNarrow-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/ArialNarrow/ArialNarrow-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialNarrow/ArialNarrow-Italic.woff') format('woff'), url('../fonts/ArialNarrow/ArialNarrow-Italic.ttf')  format('truetype'), url('../fonts/ArialNarrow/ArialNarrow-Italic.svg#ArialNarrow-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/ArialNarrow/ArialNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialNarrow/ArialNarrow-BoldItalic.woff') format('woff'), url('../fonts/ArialNarrow/ArialNarrow-BoldItalic.ttf')  format('truetype'), url('../fonts/ArialNarrow/ArialNarrow-BoldItalic.svg#ArialNarrow-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}


// leadux

@font-face {
    font-family: 'leadux';
    src:    url('../fonts/leadux/fonts/leadux.eot?at39tn');
    src:    url('fonts/leadux.eot?at39tn#iefix') format('embedded-opentype'),
        url('../fonts/leadux/fonts/leadux.ttf?at39tn') format('truetype'),
        url('../fonts/leadux/fonts/leadux.woff?at39tn') format('woff'),
        url('../fonts/leadux/fonts/leadux.svg?at39tn#leadux') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ld-"], [class*=" ld-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'leadux' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ld-icons_integration:before {
    content: "\e908";
}
.ld-icons_crm:before {
    content: "\e900";
}
.ld-icons_delete:before {
    content: "\e901";
}
.ld-icons_edit:before {
    content: "\e902";
}
.ld-icons_new:before {
    content: "\e903";
}
.ld-icons_search:before {
    content: "\e904";
}
.ld-icons_control-panel:before {
    content: "\e905";
}
.ld-icons_user-photo:before {
    content: "\e906";
}
.ld-icons_instalation:before {
    content: "\e907";
}
.ld-icons_dash:before {
    content: "\e909";
}
.ld-icons_tag:before {
    content: "\e90a";
}
.ld-icons_url:before {
    content: "\e90b";
}
