@import "variables";

@font-face {
    font-family: 'leadux';
    src:    url('#{$icomoon-font-path}/leadux.eot?svoav2');
    src:    url('#{$icomoon-font-path}/leadux.eot?svoav2#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/leadux.ttf?svoav2') format('truetype'),
        url('#{$icomoon-font-path}/leadux.woff?svoav2') format('woff'),
        url('#{$icomoon-font-path}/leadux.svg?svoav2#leadux') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ld-"], [class*=" ld-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'leadux' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ld-icons_integration {
    &:before {
        content: $ld-icons_integration;
    }
}
.ld-icons_crm {
    &:before {
        content: $ld-icons_crm;
    }
}
.ld-icons_delete {
    &:before {
        content: $ld-icons_delete;
    }
}
.ld-icons_edit {
    &:before {
        content: $ld-icons_edit;
    }
}
.ld-icons_new {
    &:before {
        content: $ld-icons_new;
    }
}
.ld-icons_search {
    &:before {
        content: $ld-icons_search;
    }
}
.ld-icons_control-panel {
    &:before {
        content: $ld-icons_control-panel;
    }
}
.ld-icons_user-photo {
    &:before {
        content: $ld-icons_user-photo;
    }
}
.ld-icons_instalation {
    &:before {
        content: $ld-icons_instalation;
    }
}
.ld-icons_dash {
    &:before {
        content: $ld-icons_dash;
    }
}
.ld-icons_tag {
    &:before {
        content: $ld-icons_tag;
    }
}
.ld-icons_url {
    &:before {
        content: $ld-icons_url;
    }
}

