@font-face {
    font-family: 'leadux';
    src:    url('fonts/leadux.eot?svoav2');
    src:    url('fonts/leadux.eot?svoav2#iefix') format('embedded-opentype'),
        url('fonts/leadux.ttf?svoav2') format('truetype'),
        url('fonts/leadux.woff?svoav2') format('woff'),
        url('fonts/leadux.svg?svoav2#leadux') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ld-"], [class*=" ld-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'leadux' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ld-icons_integration:before {
    content: "\e908";
}
.ld-icons_crm:before {
    content: "\e900";
}
.ld-icons_delete:before {
    content: "\e901";
}
.ld-icons_edit:before {
    content: "\e902";
}
.ld-icons_new:before {
    content: "\e903";
}
.ld-icons_search:before {
    content: "\e904";
}
.ld-icons_control-panel:before {
    content: "\e905";
}
.ld-icons_user-photo:before {
    content: "\e906";
}
.ld-icons_instalation:before {
    content: "\e907";
}
.ld-icons_dash:before {
    content: "\e909";
}
.ld-icons_tag:before {
    content: "\e90a";
}
.ld-icons_url:before {
    content: "\e90b";
}

