$icomoon-font-path: "fonts" !default;

$ld-icons_integration: "\e908";
$ld-icons_crm: "\e900";
$ld-icons_delete: "\e901";
$ld-icons_edit: "\e902";
$ld-icons_new: "\e903";
$ld-icons_search: "\e904";
$ld-icons_control-panel: "\e905";
$ld-icons_user-photo: "\e906";
$ld-icons_instalation: "\e907";
$ld-icons_dash: "\e909";
$ld-icons_tag: "\e90a";
$ld-icons_url: "\e90b";

