.btn_shadow {
  // border-color: #E8E1DD rgba(0,0,0, 0.05) rgba(0,0,0, 0.05) #E8E1DD;
  padding-top: ($padding-base-vertical + 1px);
  padding-bottom: ($padding-base-vertical + 1px);
  border-width: 0;
  @include box-shadow(inset 0 -3px 7px rgba(0,0,0, 0.15), /*bottom internal shadow*/
                      inset -3px 0 7px rgba(0,0,0, 0.15), /*right internal shadow*/
                      inset 0 3px 7px rgba(255,255,255, 1), /*top internal highlight*/
                      inset 3px 0 7px rgba(255,255,255, 1)); /*left internal highlight*/
  &:focus,
  &:hover,
  &:active {
    // border-color: #E8E1DD rgba(0,0,0, 0.05) rgba(0,0,0, 0.05) #E8E1DD;
    border-width: 0;
    // padding-top: ($padding-base-vertical + 1px);
    // padding-bottom: ($padding-base-vertical + 1px);
    @include box-shadow(inset 0 -3px 7px rgba(0,0,0, 0.15), /*bottom internal shadow*/
                      inset -3px 0 7px rgba(0,0,0, 0.15), /*right internal shadow*/
                      inset 0 3px 7px rgba(255,255,255, 1), /*top internal highlight*/
                      inset 3px 0 7px rgba(255,255,255, 1)); /*left internal highlight*/
  }
}

.btn-outline {
  &,
  &:hover,
  &:focus {
    color: $brand-primary-2;
    background: #fff;
    border: 2px solid $brand-primary-2;
  }
}

.btn {
  line-height: 18px;
  font-size: 14px;
  height: 30px;
  @media (min-width: $screen-sm) {
    line-height: 18px;
    font-size: $font-size-large;
  }
}

.btn-sm {
  line-height: 14px;
  font-size: $font-size-small;
  height: 22px;
}

.btn-r-sm {
  border-radius: 6px;
}

.btn-150 {
  min-width: 130px;
  @media (min-width: $screen-sm) {
    min-width: 150px;
  }
}

.btn-140 {
  min-width: 120px;
  @media (min-width: $screen-sm) {
    min-width: 140px;
  }
}

.btn-110 {
  min-width: 100px;
  @media (min-width: $screen-sm) {
    min-width: 110px;
  }
}

.btn-90 {
  min-width: 70px;
  @media (min-width: $screen-sm) {
    min-width: 90px;
  }
}

.caret {
  border-top-width: 9px;
}

.dropdown-menu {
  @include box-shadow(2.6px 4.3px 6px rgba(52, 52, 52, 0.21));
  padding: 0;
  overflow: hidden;
}

.btn_big {
  background-color: $brand-warning;
  border: 3px solid white;
  @include border-radius(0);
  color: white;
  font-size: 18px;
  padding: 10px;
  line-height: 1;
  height: 38px;
  &:hover,
  &:focus {
    border: 3px solid white;
  }
  @media (min-width: $screen-sm) {
    height: 78px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 18px;
    border: 6px solid white;
    &:hover,
    &:focus {
      border: 6px solid white;
    }
  }
}
