.form-control {
  @include box-shadow(inset -2.6px 1.5px 3px rgba(63, 62, 62, .35));
}

.form-group__info-btn-wr {
  position: relative;
  padding-right: 50px;
}

.form-group-info-btn {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-top: -14px;
  padding: 4px;
  text-align: center;
  color: #343434;
  border: 1px solid #343434;
  background-color: #fff;
  @include border-radius(28px);
  &:hover,
  &:focus {
    text-decoration: none;
    color: $brand-primary-2;
    outline: none;
  }
}

.bootstrap-switch {
  &,
  &.bootstrap-switch-focused {
    border: none;
    background-color: #fff;
    @include border-radius(4px);
    @include box-shadow(inset 2.2px 2px 7px rgba(0, 0, 0, .35));
    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off {
      color: #343434 !important;
      background-color: transparent !important;
    }
  }
  &.bootstrap-switch-on {
    .bootstrap-switch-label {
      background-color: $brand-success;
      @include border-radius(4px);
    }
  }
  &.bootstrap-switch-off {
    .bootstrap-switch-label {
      background-color: $brand-danger;
      @include border-radius(4px);
    }
  }
  .bootstrap-switch-handle-on,
  .bootstrap-switch-handle-off,
  .bootstrap-switch-label {
    font-size: 24px;
    padding: 5px 4px;
  }
}

.big-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  min-width: 130px;
  margin-bottom: 0;
  padding-right: 20px;
  vertical-align: middle;
  color: #343434;
  @media (min-width: $screen-sm) {
    font-size: 24px;
  }
}

.custom-select {
  position: relative;
  overflow: hidden;
  padding: 0;
  select {
    width: 120% !important;
    padding-right: calc(20px + 20%);
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    @include appearance(none);
    &::-ms-expand {
      display: none;
    }
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    content: '';
    border-style: solid;
    border-color: transparent transparent $input-border;
    border-width: 0 4px 9px;
  }
  &:before {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: 1px;
    content: '';
    border-style: solid;
    border-color: $input-border transparent transparent;
    border-width:  9px 4px 0;
  }
}

label {
  font-weight: 400;
}

.radio-group_md {
  label {
    font-size: 18px;
    line-height: 1.1;
    &:before {
      top: 2px;
    }
  }
}

// custom-checbox
.checkbox-group,
.radio-group {
  // padding-top: 5px;
  // padding-left: 20px;
  &.radio-group_inline {
    display: inline-block;
    .custom-radio {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  &.checkbox-group_inline {
    display: inline-block;
    .custom-checkbox {
      display: inline-block;
      + .custom-checkbox {
        margin-left: 20px;
      }
    }
  }
}

.custom-checkbox,
.custom-radio {
  padding: 3px 0 !important;
  input[type='checkbox'],
  input[type='radio'] {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    vertical-align: top;
    &:not(checked) {
      position: absolute;
      opacity: 0;
      + label {
        margin-bottom: 0;
        min-height: 13px;
        position: relative;
        padding: 0 0 0 20px;
      }
    }
    &:checked {
      + label {
        &:after {
          @include opacity(1);
        }
      }
    }
    &:focus + label:before {
      @include box-shadow(none);
    }
    &:disabled {
      + label {
        @include opacity(.6);
      }
    }
  }
  input[type='checkbox'] {
    + label {
      cursor: pointer;
      line-height: 1;
      min-height: 13px;
      min-width: 13px;
      &:before {
        position: absolute;
        top: 0px;
        left: 0;
        width: 13px;
        height: 13px;
        content: '';
        border: 2px solid $brand-primary-2;
        background-color: #fff;
      }
      &:after {
        position: absolute;
        top: 4px;
        left: 2px;
        width: 9px;
        height: 4px;
        content: '';
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: transparent transparent $brand-primary-2 $brand-primary-2;
        @include transition(all .2s);
        @include transform(rotate(-45deg));
        @include opacity(0);
      }
    }
  }
  &.custom-checkbox_big {
    input[type='checkbox'],
    input[type='radio'] {
      width: 18px;
      height: 18px;
      &:not(checked) {
        + label {
          padding: 0 0 0 25px;
        }
      }
    }
    input[type='checkbox'] {
      + label {
        min-height: 18px;
        min-width: 18px;
        &:before {
          width: 18px;
          height: 18px;
        }
        &:after {
          left: 3px;
          width: 13px;
          height: 6px;
        }
      }
    }
    &.custom-checkbox_warning {
      input[type='checkbox'] {
      + label {
        &:before {
          border: 2px solid $brand-warning
        }
        &:after {
          border-color: transparent transparent $brand-warning $brand-warning;
        }
      }
    }
    }
  }
}

.custom-checkbox_big {
  font-size: 18px;
}

.custom-radio {
  input[type='radio'] {
    + label {
      cursor: pointer;
      &:before {
        position: absolute;
        top: 1px;
        left: 0;
        width: 17px;
        height: 17px;
        content: '';
        @include border-radius(50%);
        background-color: #b0b1b1;
        @include box-shadow(inset 0 -1px 4px rgba(0,0,0, 0.15), /*bottom internal shadow*/
                  inset -1px 0 4px rgba(0,0,0, 0.15), /*right internal shadow*/
                  inset 0 1px 4px rgba(255,255,255, .7), /*top internal highlight*/
                  inset 1px 0 4px rgba(255,255,255, .7)); /*left internal highlight*/
      }
    }
    &:checked {
      + label {
        &:before {
          background-color: $brand-success;
          @include box-shadow(inset 0 -1px 4px rgba(0,0,0, 0.15), /*bottom internal shadow*/
                  inset -1px 0 4px rgba(0,0,0, 0.15), /*right internal shadow*/
                  inset 0 1px 4px rgba(255,255,255, .7), /*top internal highlight*/
                  inset 1px 0 4px rgba(255,255,255, .7)); /*left internal highlight*/
        }
      }
    }
  }
}

.form-control_big {
  box-shadow: none;
  @include border-radius(0);
  font-weight: 400;
  text-transform: uppercase;
  height: 38px;
  @media (min-width: $screen-sm) {
    height: 78px;
    font-size: 24px;
  }
  &::-moz-placeholder {
    color: #9d9d9d;
    opacity: 1; }
  &:-ms-input-placeholder {
    color: #9d9d9d; }
  &::-webkit-input-placeholder {
    color: #9d9d9d; }
}

.form-group_mg-lg {
  margin-bottom: 30px;
}
