.latest-leads__body {
  @media (min-width: $screen-md) {
    // min-height: 200px;
    border: 2px solid $brand-warning;
    @include border-radius(10px);
    overflow: hidden;
  }
}

.mobile-table-responsive {
  margin-left: -15px;
  margin-right: -15px;
  @media (min-width: $screen-md) {
    display: none;
  }
}

.mobile-table-responsive__header {
  background: $brand-primary;
  padding: 5px 15px;
  .checkbox {
    margin: 0;
    color: #343434;
    font-style: italic;
    label {
      font-size: 14px;
      padding-left: 22px;
      font-weight: 700;
    }
    input {
      margin-left: -22px;
    }
  }
}

.mobile-table-responsive__body {
  .owl-carousel {
    background-color: #c5c5c5;
    margin-bottom: 5px;
  }
  table {
    width: 100%;
    table-layout: fixed;
    color: #343434;
    font-size: 15px;
    font-weight: 400;
    td {
      padding: 3px 4px;
      &:first-child {
        padding-left: 35px;
      }
      &:last-child {
        padding-right: 35px;
      }
    }
  }
  .table-row-checkbox__tr {
    width: 35px;
    vertical-align: top;
    position: absolute;
    left: 15px;
    top: 4px;
  }
}

// @media only screen and (min-width: $screen-md) {
  .desktop-table-responsive {
    display: none;
    @media (min-width: $screen-md) {
      display: block;
    }
    table {
      @media (max-width: 1400px) {
        table-layout: fixed;
        .table-row-checkbox-wr {
          width: 20px;
        }
        .table__show-more-wr {
          width: 56px;
        }
        td,
        th {
          word-wrap: break-word;
          padding-left: 3px !important;
          padding-right: 3px !important;
        }
        tr {
          .table__full-info-td {
            padding: 0 !important;
          }
        }
      }
    }
    > table {
      border-collapse: collapse;
      width: 100%; 
      font-size: 15px;
      color: #343434;
      line-height: 1;
      word-break: break-word;
      > thead {
        > tr {
          height: 60px;
          > th {
            ~ th {
              &:not(:last-child) {
                min-width: 75px;
              }
            }
            // word-break: break-word;
            font-weight: 400;
            background: $brand-warning;
            padding: 4px 6px;
            &:first-child {
              @include border-radius(8px 0 0 10px);
            }
            &:last-child {
              @include border-radius(0 8px 10px 0);
            }
          }
        }
      }
      > tbody {
        > tr {
          &.even {
            background: $brand-primary;
          }
          // &:last-child {
          //   td {
          //     &:first-child {
          //       @include border-radius(0 0 0 8px);
          //     }
          //     &:last-child {
          //       @include border-radius(0 0 8px 0);
          //     }
          //   }
          // }
          > td { 
            // word-break: break-word;
            padding: 4px 6px;
            text-align: left;
          }
          .table__full-info-td {
            padding: 0;
          }
        }
      }
    }
  }
  .desktop-table-tr__header {
    display: none;
  }
// }

.table__full-info-wr {
  overflow: hidden;
  max-height: 0;
  @extend %transition;
  .active & {
    max-height: 1000px;
  }
}

.table__full-info {
  width: 100%;
  thead {
    tr {
      height: 28px;
      background: $brand-primary-2;
      color: #fff;
      th {
        padding: 4px 6px;
        font-weight: normal;
      }
    }
  }
  tbody {
    td {
      height: 36px;
      padding: 4px 6px;
      background-color: #d6d3d3;
    }
  }
}

.js-full-info {
  min-width: 50px;
  .active-text {
    display: none;
  }
  .default-text {
    display: inline;
  }
  &.active {
    .active-text {
      display: inline;
    }
    .default-text {
      display: none;
    }
  }
}

// @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
//   .mobile-table-responsive {
//     margin-left: -15px;
//     margin-right: -15px;
//     /* Zebra striping */
//     tbody tr { 
//       background-color: #c5c5c5;
//       margin-bottom: 5px;
//       position: relative;
//     }
//     /* Force table to not be like tables anymore */
//     table, thead, tbody, th, td, tr {
//         display: block;
//     }
//     /* Hide table headers (but not display: none;, for accessibility) */
//     thead .mobile-table-tr__hide {
//         position: absolute;
//         top: -9999px;
//         left: -9999px;
//     }
//     .mobile-table-tr__header {
//       background: $brand-primary;
//       th {
//         padding: 3px 15px;
//       }
//       .checkbox {
//         margin: 0;
//       }
//     }
//     .table-row-checkbox-wr {
//       padding-left: 15px;
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 35px;
//       padding-right: 5px;
//       z-index: 2;
//     }
//     td {
//       position: relative;
//       padding: 3px 40px 3px 50%; 
//       text-align: left; 
//     }
//     td:before {
//         /* Now like a table header */
//         position: absolute;
//         /* Top/left values mimic padding */
//         top: 3px;
//         left: 35px;
//         width: calc(50% - 35px);
//         padding-right: 10px;
//         white-space: nowrap;
//     }
//     /*
//   Label the data
//   */
//     td:before {
//         content: attr(data-row-title);
//     }
//     .table__show-more-wr {
//       position: absolute;
//       right: 8px;
//       top: 50%;
//       margin-top: -11px;
//       padding: 0;
//     }
//   }
// }

.website-info__table {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  background-color: #fff;
  @media (min-width: $screen-lg) {
    margin: 0;
    padding: 10px;
    &:nth-child(even) {
      background-color: #d6d3d3;
      .website-statistics-table__title-wr,
      .website-statistics-table__sm-row {
        background-color: #5fadb3;
      }
    }
  }
}

.website-info__table__header {
  background: $brand-primary;
  padding: 5px 15px;
  label {
    font-weight: bold;
  }
  .checkbox {
    margin: 0;
    color: #343434;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
  }
  @media (min-width: $screen-lg) {
    background-color: transparent;
  }
}

.website-info__table-wr {
  background-color: #c5c5c5;
  margin-bottom: 5px;
  table {
    width: 100%;
    table-layout: fixed;
    color: #343434;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    td {
      padding: 3px 4px;
      height: 34px;
      &:first-child {
        padding-left: 35px;
      }
    }
  }
  @media (min-width: $screen-lg) {
    font-family: inherit;
    float: right;
    width: 25%;
    background-color: transparent;
    table,
    tbody {
      display: block;
      tr {
        padding-top: 20px;
        display: block;
        float: left;
        width: 33.3333%;
      }
    }
    .website-status__wr {
      display: block;
    }
  }
}

.website-status__lable {
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.website-status {
  min-width: 53px;
  height: 18px;
  padding: 2px;
  background-color: #ddd;
  @include border-radius(4px);
  @include box-shadow(2.4px 1.8px 2px rgba(126, 126, 126, 0.57));
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.website_success {
  background-color: #36ae4a;
}

.website_danger {
  background-color: #d23636;
}

.website-status__wr {
  text-align: center;
}

.website-info__statistics__table-wr {
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: $screen-lg) { 
    padding: 0 30px 0 0;
    float: left;
    width: 75%;
  }
}

.user-statistics__table {
  background-color: $brand-primary-2;
  @include border-radius(10px);
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  @media (min-width: $screen-lg) {
    display: block;
  }
}


.user-statistics-table__body {
  display: table-row-group;
  @media (min-width: $screen-lg) {
    display: block;
    margin-left: 200px;
  }
}

.user-statistics-table__sm-row {
  display: table-row;
  @media (min-width: $screen-lg) {
    display: block;
    float: left;
    &.tible-5-col {
      width: 20%;
    }
  }
}

.user-statistics-table__sm-cell {
  display: table-cell;
  @media (min-width: $screen-lg) {
    display: block;
  }
}

.user-statistics-table__title-wr {
  display: table-cell;
  @media (min-width: $screen-lg) {
    display: block;
    text-align: center;
    height: 70px;
    line-height: 60px;
    margin-bottom: 15px;
    overflow: hidden;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}

.user-statistics-table__title-wr_empty {
  width: 60px;
  height: 0;
  line-height: 0;
  margin: 0;
}

.user-statistics-table__header {
  display: table-header-group;
  @include border-radius(10px);
  background: $brand-warning;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 50px;
  @media (min-width: $screen-lg) {
    float: left;
    width: 200px;
    font-size: 18px;
  }
}

.user-statistics-table__title {
  padding: 5px;
  @media (min-width: $screen-lg) {
      display: inline-block;
      line-height: initial;
  }
  &:after {
    content: '\00BB';
    color: #fff;
    margin-left: 10px;
    position: relative;
    top: 2px;
    display: inline-block;
    @include transform(rotate(90deg));
    @media (min-width: $screen-lg) {
      @include transform(rotate(0));
      position: static;
      margin-left: 5px;
    }
  }
}

.user-statistics-table__time {
  padding: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  @media (min-width: $screen-lg) {
    text-align: center;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    .table-statistics-content {
      display: inline-block;
      line-height: initial;
    }
  }
}

.user-statistics-table__data {
  color: #79d8df;
  font-weight: 700;
  line-height: 1;
  padding: 5px 6px 5px 30px;
  font-size: 21px;
  @media (min-width: $screen-lg) {
    line-height: 22px;
    padding: 0;
    text-align: center;
    height: 70px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .table-statistics-content {
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      padding: 19px 5px;
      @include border-radius(60px);
      background-color: #79d8df;
      color: $brand-primary-2;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.website-info__tables-wr {
  @media (min-width: $screen-lg) {
    border: 2px solid $brand-warning;
    @include border-radius(10px);
    overflow: hidden;
  }
}

.website-statistics__table {
  @include border-radius(10px);
  background-color: $brand-primary-2;
  @media (min-width: $screen-lg) {
    background-color: transparent;
    padding: 0;
    @include border-radius(0);
    margin-left: -5px;
    margin-right: -5px;
  }
}

.website-statistics-table__header {
  padding-left: 60px;
  background-color: $brand-warning;
  @include border-radius(10px);
  overflow: hidden;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  @media (min-width: $screen-lg) {
    background-color: transparent;
    padding: 0;
    @include border-radius(0);
  }
}

.website-statistics-table__title-wr {
  float: left;
  width: 50%;
  @media (min-width: $screen-lg) {
    background-color: $brand-primary;
    @include border-radius(10px 10px 0 0);
    padding: 5px 10px;
    width: calc(50% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}

.website-statistics-table__title {
  padding: 10px 5px;
  @media (min-width: $screen-lg) {
    font-size: 18px;
    font-weight: 400;
  }
  &:after {
    content: '\00BB';
    color: #fff;
    margin-left: 10px;
    position: relative;
    top: 2px;
    display: inline-block;
    @include transform(rotate(90deg));
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}

.website-statistics-table__col_time {
  float: left;
  color: #fff;
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.website-statistics-table__sm-row {
  @media (min-width: $screen-lg) {
    @include border-radius(0 0 10px 10px);
    background-color: $brand-primary;
    padding: 5px 10px 5px;
  }
}

.website-statistics-table__body {
  overflow: hidden;
}

.website-statistics-table__col_data {
  float: left;
  width: calc(100% - 62px);
  @media (min-width: $screen-lg) {
    width: 100%;
  }
}

.website-statistics-table__time {
  padding: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 60px;
}

.website-statistics-table__sm-row {
  float: left;
  width: 50%;
  @media (min-width: $screen-lg) {
    width: calc(50% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}

.website-statistics-table__data {
  color: #79d8df;
  font-weight: 700;
  line-height: 1;
  padding: 5px 6px 5px 30px;
  font-size: 21px;
  @media (min-width: $screen-lg) {
    width: 54px;
    height: 54px;
    float: left;
    margin: 5px;
    background-color: #fff;
    @include border-radius(54px);
    padding: 12px 5px;
    color: #0bb2be;
    font-weight: 400;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
}

.website-statistics-table__time-lg {
  display: none;
  @media (min-width: $screen-lg) {
    display: block;
    white-space: nowrap;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.website-table-statistics-content {
  @media (min-width: $screen-lg) {
    font-size: 24px;
  }
}

.website-info__tables-header {
  display: none;
  background-color: $brand-warning;
  @include border-radius(0 0 10px 10px);
  color: #343434;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  @media (min-width: $screen-lg) {
    display: block;
  }
}

.wesite-statistics-table__label {
  float: left;
  width: 75%;
  padding: 5px 30px 5px 30px;
}

.wesite-status-info-table__labels {
  width: 25%;
  float: left;
  padding: 5px 0;
  .th-wesite__label {
    float: left;
    width: 33.3333%;
    text-align: center;
  }
}

.th-col-label {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  .caret {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
  }
}
