// Sass Variables
$footer-height: 110px;
$screen-xlg: 1400px;

// colors

$brand-primary-2: #4f8488;

// images folders
// url(../#{$img-fron-end}/img.jpg)
$img-fron-end: 'img';
$img-back-end: 'imgBackEnd';

%clearfix
{
    overflow: initial;

    *zoom: 1;
    &:before,
    &:after
    {
        display: table;

        content: ' ';
    }
    &:after
    {
        clear: both;
    }
}

%transition {
  @include transition(all 0.2s ease);
}

$transition: all 0.2s ease;
