head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
  link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
  link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
  link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/favicon-194x194.png", sizes="194x194")
  link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
  link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
  link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
  link(rel="manifest", href="/manifest.json")
  link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="msapplication-TileColor", content="#00aba9")
  meta(name="msapplication-TileImage", content="/mstile-144x144.png")
  meta(name="theme-color", content="#ffffff")

  block head
  title= pageTitle
  meta(name='description' content=pageDescription)
  meta(name='keywords' content=pageKeywords)
  meta(name='copyright' content=pageCopyright)

  // build:css css/vendor.css
  // bower:css
  // endbower
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
  // endbuild
  //- 
  block css
  //- 
  // build:css css/main.css
  link(rel='stylesheet', href='css/style.css')
  // endbuild

  // build:js scripts/vendor.js
  // bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
  script(src='bower_components/modernizr/modernizr.js')
  script(src='bower_components/bootstrap-tabcollapse/bootstrap-tabcollapse.js')
  // endbower
  script(src='bower_components/bootstrap-switch/dist/js/bootstrap-switch.js')
  script(src='bower_components/owl.carousel/dist/owl.carousel.js')
  script(src='bower_components/modernizr/modernizr.js')

  //- 
  block vendor-js
  //- 
  // endbuild
  //-
  
  // build:js scripts/respond.min.js
  script(src="bower_components/respond/dest/respond.min.js")
  // endbuild

  //- 
  block js
  //- 
  // build:js scripts/main.js
  script(src='js/main.js')
  // endbuild

