extends templates/layouts/_index

block head
  - pageTitle = "LEADUX forgot password";

block content
  .middle-box-index.loginscreen.animated.fadeInDown
    .ibox-content
      .index-form__header.text-center
        h2.index__title.ng-binding Forgot your password?
        p.caption-text.ng-binding  Please enter your email address and a new password will be emailed to you. 

      form.m-t.ng-pristine.ng-valid-email.ng-invalid.ng-invalid-required(role='form', ng-submit='sendPassword()')
        .form-group.form-group_mg-lg
          input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-valid-email.ng-invalid.ng-invalid-required(type='email', placeholder='Email', required='', ng-model='email')
        .form-group
          button.btn.btn-warning.btn-block.btn_big(type='submit') SEND ME A NEW PASSWORD
        
      