block var
  - var dash = false

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";

block content
  .container_sm
    section.section__wr.clearfix
      .user-info__wr
        .row
          .col-xs-7.col-sm-12
            .welcome-text Hello, 
              span.user-name Hamuda
              | !
            .avatar-thumbnail
              img(src="img/svg/icons_user-photo.svg", alt="", height="70", width="70").img-responsive
          .col-xs-5.col-sm-12
            .user-info__action
              .user-info__action
                a(href="") edit profile
              .user-info__action
                a(href="") biiling
              .user-info__action
                a(href="") inbox
      .user-statistics__wr
        .user-statistics__table
          .user-statistics-table__header
            .user-statistics-table__title-wr.user-statistics-table__title-wr_empty
            .user-statistics-table__title-wr
              .user-statistics-table__title the total amount of traffic 
            .user-statistics-table__title-wr
              .user-statistics-table__title the total number of leads 
          .user-statistics-table__body
            .user-statistics-table__sm-row.tible-5-col
              .user-statistics-table__sm-cell.user-statistics-table__time
                span.table-statistics-content 24 h
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
            .user-statistics-table__sm-row.tible-5-col
              .user-statistics-table__sm-cell.user-statistics-table__time
                span.table-statistics-content 7 d
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
            .user-statistics-table__sm-row.tible-5-col
              .user-statistics-table__sm-cell.user-statistics-table__time
                span.table-statistics-content 30 d
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 55553
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
            .user-statistics-table__sm-row.tible-5-col
              .user-statistics-table__sm-cell.user-statistics-table__time
                span.table-statistics-content 3 mo
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
            .user-statistics-table__sm-row.tible-5-col
              .user-statistics-table__sm-cell.user-statistics-table__time
                span.table-statistics-content 12 mo
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
              .user-statistics-table__sm-cell.user-statistics-table__data
                span.table-statistics-content 5555
  .container_lg
    section.section__wr.clearfix
      .latest-leads-section
        .latest-leads__header.clearfix
          .latest-leads__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title YOUR LATEST LEADS
              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .form-group-search__wr
                    .form-group-search
                      input(type="text" placeholder="search...").form-control
                      button(type="button").btn-search
                        .ld-icons_search
                  .submenu__btn-group
                    .submenu__btn-wr
                      .dropdown
                        a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-warning.btn_shadow.btn-110
                          | export 
                          span.caret
                        .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                          ul.dropdown-menu__inner
                            li: a(href="") pdf
                            li: a(href="") email
                    .submenu__btn-wr
                      a(href="").btn.btn-danger.btn-110
                        i.ld-icons_delete.btn-icon.btn-icon_l
                        span.btn-text delete
            .latest-leads__filters
              .latest-leads__filters-header.clearfix
                .latest-leads__filters-header-btn-wr
                  a(role="button" data-toggle="collapse" href="#collapseLeadsFilters" aria-expanded="false" aria-controls="collapseExample")
                    span.btn-toggle__icon
                      span.toggle-line.toggle-line-1
                      span.toggle-line.toggle-line-2
                      span.toggle-line.toggle-line-3
                .latest-leads__filters-header-title Apply filter
              #collapseLeadsFilters.collapse.latest-leads-filters__collapse
                .latest-leads-filters__list
                  .latest-leads-filters__list-item
                    .dropdown
                      a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-warning.btn_shadow.btn-110
                        | period 
                        span.caret
                      .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                          ul.dropdown-menu__inner
                            li: a(href="") Custom
                            li: a(href="") Today
                            li: a(href="") Yesterday
                            li: a(href="") Last 7 Days
                            li: a(href="") Last 30 Days
                            li: a(href="") Last Week
                            li: a(href="") Last Month
                  .latest-leads-filters__list-item
                    .dropdown
                      a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-warning.btn_shadow.btn-110
                        | websites 
                        span.caret
                      .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                          ul.dropdown-menu__inner
                            // ngRepeat: website in websites
                            li.ng-scope(ng-repeat='website in websites')
                              a.ng-binding(href='', ng-click='changeWebsiteFilter(website._id, website.name)') newwebsite
                            // end ngRepeat: website in websites
                            li.ng-scope(ng-repeat='website in websites')
                              a.ng-binding(href='', ng-click='changeWebsiteFilter(website._id, website.name)') http://zdorovie-soveti.ru/
                            // end ngRepeat: website in websites
                            li.ng-scope(ng-repeat='website in websites')
                              a.ng-binding(href='', ng-click='changeWebsiteFilter(website._id, website.name)') https://neuro-germany.ru/
                            // end ngRepeat: website in websites
                            li.ng-scope(ng-repeat='website in websites')
                              a.ng-binding(href='', ng-click='changeWebsiteFilter(website._id, website.name)') http://neuro-israel.ru/
                            // end ngRepeat: website in websites
                            li.ng-scope(ng-repeat='website in websites')
                              a.ng-binding(href='', ng-click='changeWebsiteFilter(website._id, website.name)') trewq
                            // end ngRepeat: website in websites
                    .filter-label(ng-show='current_website != []')
                        ul(style='list-style:none;padding:0')
                          // ngRepeat: site in current_website
                          li.ng-binding.ng-scope(ng-repeat='site in current_website')
                            span(style='cursor:pointer;font-weight:bold', ng-click='removeWebsite($index)') X 
                            |  http://zdorovie-soveti.ru/
                          // end ngRepeat: site in current_website
                          li.ng-binding.ng-scope(ng-repeat='site in current_website')
                            span(style='cursor:pointer;font-weight:bold', ng-click='removeWebsite($index)') X 
                            |  http://neuro-israel.ru/
                          // end ngRepeat: site in current_website
                          li.ng-binding.ng-scope(ng-repeat='site in current_website')
                            span(style='cursor:pointer;font-weight:bold', ng-click='removeWebsite($index)') X 
                            |  newwebsite
                          // end ngRepeat: site in current_website
                  .latest-leads-filters__list-item
                    .dropdown
                      a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-warning.btn_shadow.btn-110
                        | country 
                        span.caret
                      .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                          ul.dropdown-menu__inner
                            li: a(href="") 1
                            li: a(href="") 2
                  .latest-leads-filters__list-item
                    .dropdown
                      a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-warning.btn_shadow.btn-110
                        | source 
                        span.caret
                      .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                          ul.dropdown-menu__inner
                            li: a(href="") 1
                            li: a(href="") 2
                  .latest-leads-filters__list-item
                    .dropdown
                      a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-warning.btn_shadow.btn-110
                        | status 
                        span.caret
                      .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                          ul.dropdown-menu__inner
                            li: a(href="") 1
                            li: a(href="") 2

        .latest-leads__body
          include templates/blocks/_desktop-table-1
          include templates/blocks/_mobile-table-1
