extends templates/layouts/_index

block head
  - pageTitle = "LEADUX Login";

block content
  .middle-box-index.loginscreen.animated.fadeInDown
    //- .alert.alert-warning.ng-pristine.ng-untouched.ng-valid.ng-binding.ng-empty.ng-hide(ng-show='error', ng-model='error_msg')   
    form.m-t.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required(role='form', ng-submit='login()')
      .form-group
        input.form-control.form-control_big.ng-untouched.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required(type='text', placeholder='your username or email', required='', ng-model='username')
      
      .form-group
        input.form-control.form-control_big.ng-untouched.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required(type='password', placeholder='PASSWORD', required='', ng-model='password')
      
      .form-group
        .custom-checkbox.custom-checkbox_big.custom-checkbox_warning
          input#ch1(type="checkbox")
          label(for="ch1") Remember me on this computer

      .form-group
        button.btn.btn-warning.btn-block.btn_big(type='submit') SIGN IN

      .form-group.text-center
        a.index-link(ui-sref='forgot_password', href='/forgot_password') Forgot password?

      .form-group
        p.caption-text.text-center
          | Don’t have a Leadux Account yet?
      
      .form-group
        a.btn.btn-warning.btn-block.btn_big(ui-sref='register')
          span.ng-binding SIGN UP
