extends templates/layouts/_index

block head
  - pageTitle = "LEADUX Register";

block content
  .middle-box-index.loginscreen.animated.fadeInDown
    form.m-t.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email(role='form', ng-submit='register()')
      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-valid-email.ng-invalid.ng-invalid-required(type='email', placeholder='Email', ng-model='email', required='')
      
      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='text', placeholder='Username', ng-model='username', required='')

      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='password', placeholder='Password', ng-model='password', required='')

      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='text', placeholder='Name', ng-model='name', required='')

      .form-group
        .custom-checkbox.custom-checkbox_big.custom-checkbox_warning
          input#ch1(type="checkbox")
          label(for="ch1") I agree to the Terms of Use and Privacy Policy

      .form-group
        button.btn.btn-warning.btn-block.btn_big(type='submit') SIGN ME UP!

      .form-group
        p.caption-text.text-center
          | Have an account already?

      a.btn.btn-warning.btn-block.btn_big(href='login.html')
        span.ng-binding SIGN IN
