block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";

block content
  script.
    $(function() {
      $('#integrationTab').tabCollapse({
        tabsClass: 'tabcollapse-tab hidden-sm hidden-xs',
        accordionClass: 'tabcollapse-accordion visible-sm visible-xs'
      });
    });
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title
                  .dropdown
                    a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | mywebsite.com
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dLabel')
                      li: a(href="") mywebsite-2.com
                      li: a(href="") mywebsite-3.com
              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .submenu-site-setings__btn-group
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_instalation.btn-icon.btn-icon_l
                        span.btn-text Installation
                    .submenu__btn-wr
                      a(href="website-control-panel.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_control-panel.btn-icon.btn-icon_l
                        span.btn-text Control Panel
                    .submenu__btn-wr
                      a(href="website-integrations.html").btn.btn-warning.btn_shadow.btn-140.active-page
                        i.ld-icons_integration.btn-icon.btn-icon_l
                        span.btn-text Integrations

      .integration-block__wr
        ul#integrationTab.nav.nav-tabs
          li.active
            a(href='#urlTab', data-toggle='tab')
              i.ld-icons_url.btn-icon.btn-icon_l
              span.btn-text URL
          li
            a(href='#crmTab', data-toggle='tab')
              i.ld-icons_crm.btn-icon.btn-icon_l
              span.btn-text CRM
          li
            a(href='#tagTab', data-toggle='tab')
              i.ld-icons_tag.btn-icon.btn-icon_l
              span.btn-text TAG

        #integrationTabContent.tab-content
          #urlTab.tab-pane.fade.in.active
            form(action="").form-horizontal
              .form-group
                label(for="inputEmail").control-label.sr-only E-mail
                .col-sm-8.form-group__inner
                  input#inputEmail(type="text", value="e.g. Yandex Analytics Goals").form-control
                .col-sm-4.form-group__actions-wr
                  .btn-group__form-group-action
                    a(href="").btn.btn-default.btn-r-sm
                      i.glyphicon.glyphicon-plus
              .form-group
                label(for="inputEmail").control-label.sr-only E-mail
                .col-sm-8.form-group__inner
                  input#inputEmail(type="text", value="e.g. Google Analytics Goals").form-control
                .col-sm-4.form-group__actions-wr
                  .btn-group__form-group-action
                    a(href="").btn.btn-default.btn-r-sm
                      i.glyphicon.glyphicon-plus
                    a(href="").btn.btn-default.btn-r-sm
                      i.glyphicon.glyphicon-minus
              .form-group
                .col-sm-8.text-right
                  .btn-group__form-group-save
                    button(type="button").btn.btn-warning.btn_shadow.btn-90 Save
          #crmTab.tab-pane.fade
            .under-construction Under construction!
          #tagTab.tab-pane.fade
            .under-construction Under construction!


