block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";

block content
  script.
    $(function () {
      $("[name='checkbox-switch']").bootstrapSwitch();
    });
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title
                  .dropdown
                    a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | mywebsite.com
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dLabel')
                      li: a(href="") mywebsite-2.com
                      li: a(href="") mywebsite-3.com
              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .submenu-site-setings__btn-group
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_instalation.btn-icon.btn-icon_l
                        span.btn-text Installation
                    .submenu__btn-wr
                      a(href="website-control-panel.html").btn.btn-warning.btn_shadow.btn-140.active-page
                        i.ld-icons_control-panel.btn-icon.btn-icon_l
                        span.btn-text Control Panel
                    .submenu__btn-wr
                      a(href="website-integrations.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_integration.btn-icon.btn-icon_l
                        span.btn-text Integrations

      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-body.panel-body_gray
          label.big-label All LeadBots
          input(type="checkbox" name="checkbox-switch", checked, data-handle-width="24", data-label-width="24", data-on-text="on", data-off-text="off")

      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          .row
            .col-lg-5
              label.big-label C-FormBot
              input(type="checkbox" name="checkbox-switch", checked, data-handle-width="24", data-label-width="24", data-on-text="on", data-off-text="off")
            .col-lg-7.visible-lg-block
              label.big-label Form View Mode
              .radio-group.radio-group_inline.radio-group_md
                .custom-radio
                  input#viewMode1(type="radio", name="viewMode", value="1")
                  label(for="viewMode1") grid
                .custom-radio
                  input#viewMode2(type="radio", name="viewMode", value="2")
                  label(for="viewMode2") float
                .custom-radio
                  input#viewMode3(type="radio", name="viewMode", value="3", checked)
                  label(for="viewMode3") mix
        .panel-body
          .form-group.hidden-lg
            .radio-group.radio-group_inline.radio-group_md
              .custom-radio
                input#viewModeM1(type="radio", name="viewMode1", value="1")
                label(for="viewModeM1") grid
              .custom-radio
                input#viewModeM2(type="radio", name="viewMode1", value="2")
                label(for="viewModeM2") float
              .custom-radio
                input#viewModeM3(type="radio", name="viewMode1", value="3", checked)
                label(for="viewModeM3") mix
          .site-block-position__wr
            .site-block-position__inner
              .row
                .col-lg-9
                  .site-block-position.site-block-position_desktop
                    header.site-block-position__header
                      .site-block-position__title Popsition in Desktop & Tablet
                    .site-block-position__body
                      .desktop-block-position
                        img(src="img/png/desktop-bg.png", alt="").img-responsive
                        .desktop-block-position__btn-group.js-desktop-block-position__btn-group
                          button(type="button").btn.btn__block-position.block-position-1.btn__active-position
                            span active block
                          button(type="button").btn.btn__block-position.block-position-2
                            span active block
                          button(type="button").btn.btn__block-position.block-position-3
                            span active block
                          button(type="button").btn.btn__block-position.block-position-4
                            span active block
                          button(type="button").btn.btn__block-position.block-position-5
                            span active block
                          button(type="button").btn.btn__block-position.block-position-6
                            span active block
                          button(type="button").btn.btn__block-position.block-position-7
                            span active block
                          button(type="button").btn.btn__block-position.block-position-8
                            span active block
                          button(type="button").btn.btn__block-position.block-position-9
                            span active block
                          button(type="button").btn.btn__block-position.block-position-10
                            span active block
                    footer.site-block-position__footer

                .col-lg-3
                  .site-block-position.site-block-position_mobile
                    .site-block-position__title Position on Mobile Phone
                  .site-block-position__body
                    .mobile-block-position
                      img(src="img/png/mobile-bg.png", alt="").img-responsive
                      .mobile-block-position__btn-group
                        button(type="button").btn.btn__block-position_mobile.block-position-11.btn__active-position
                          span active block
            .site-block-position__action-wr
              .row
                .col-lg-7
                  .site-block-position__action
                    .form-group
                      label.control-label.position-action-label.ng-binding Load C-FormBot into:
                      // ngRepeat: div in website.form_view_mode.page_divs
                      .site-block-position__row-wr
                        .row.ng-scope(ng-repeat='div in website.form_view_mode.page_divs')
                          .col-lg-4
                            .radio-group.radio-group_inline
                              .custom-radio
                                input#C-FormBot10.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='id', name='div0', checked)
                                label.ng-binding(for='C-FormBot10') DIV ID
                              .custom-radio
                                input#C-FormBot20.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='class', name='div0')
                                label.ng-binding(for='C-FormBot20') DIV CLASS
                          .col-lg-8
                            .row
                              .col-sm-7.form-group__inner
                                input#inputEmail.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', ng-model='div.div_value')
                              .col-sm-5.form-group__actions-wr
                                .btn-group__form-group-action
                                  a.btn.btn-default.btn-r-sm(href='', ng-click='newPageDiv($index)')
                                    i.glyphicon.glyphicon-plus
                                  a.btn.btn-default.btn-r-sm.ng-hide(href='', ng-hide='$index == 0', ng-click='removePageDiv(div)')
                                    i.glyphicon.glyphicon-minus
                      // end ngRepeat: div in website.form_view_mode.page_divs
                      .site-block-position__row-wr
                        .row.ng-scope(ng-repeat='div in website.form_view_mode.page_divs')
                          .col-lg-4
                            .radio-group.radio-group_inline
                              .custom-radio
                                input#C-FormBot11.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='id', name='div1')
                                label.ng-binding(for='C-FormBot11') DIV ID
                              .custom-radio
                                input#C-FormBot21.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='class', name='div1')
                                label.ng-binding(for='C-FormBot21') DIV CLASS
                          .col-lg-8
                            .row
                              .col-sm-7.form-group__inner
                                input#inputEmail.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', ng-model='div.div_value')
                              .col-sm-5.form-group__actions-wr
                                .btn-group__form-group-action
                                  a.btn.btn-default.btn-r-sm(href='', ng-click='newPageDiv($index)')
                                    i.glyphicon.glyphicon-plus
                                  a.btn.btn-default.btn-r-sm(href='', ng-hide='$index == 0', ng-click='removePageDiv(div)')
                                    i.glyphicon.glyphicon-minus
                      // end ngRepeat: div in website.form_view_mode.page_divs
                      .site-block-position__row-wr
                        .row.ng-scope(ng-repeat='div in website.form_view_mode.page_divs')
                          .col-lg-4
                            .radio-group.radio-group_inline
                              .custom-radio
                                input#C-FormBot12.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='id', name='div2')
                                label.ng-binding(for='C-FormBot12') DIV ID
                              .custom-radio
                                input#C-FormBot22.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='class', name='div2')
                                label.ng-binding(for='C-FormBot22') DIV CLASS
                          .col-lg-8
                            .row
                              .col-sm-7.form-group__inner
                                input#inputEmail.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', ng-model='div.div_value')
                              .col-sm-5.form-group__actions-wr
                                .btn-group__form-group-action
                                  a.btn.btn-default.btn-r-sm(href='', ng-click='newPageDiv($index)')
                                    i.glyphicon.glyphicon-plus
                                  a.btn.btn-default.btn-r-sm(href='', ng-hide='$index == 0', ng-click='removePageDiv(div)')
                                    i.glyphicon.glyphicon-minus
                      // end ngRepeat: div in website.form_view_mode.page_divs

                .col-lg-5
                  .site-block-position__action
                    .form-group
                      label.control-label.position-action-label Proactive invitation
                      .custom-select.form-control
                        select(name="").form-control
                          option(value='1') scroll bottom
                          option(value='1') scroll top

      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          label.big-label ChatBot
          input(type="checkbox" name="checkbox-switch", data-handle-width="24", data-label-width="24", data-on-text="on", data-off-text="off")
        .panel-body
          .site-block-position__wr
            .site-block-position__inner
              .row
                .col-lg-9
                  .site-block-position.site-block-position_desktop
                    header.site-block-position__header
                      .site-block-position__title Popsition in Desktop & Tablet
                    .site-block-position__body
                      .desktop-block-position
                        img(src="img/png/desktop-bg.png", alt="").img-responsive
                        .desktop-block-position__btn-group.js-desktop-block-position__btn-group
                          button(type="button").btn.btn__block-position.block-position-3
                            span active block
                          button(type="button").btn.btn__block-position.block-position-4
                            span active block
                          button(type="button").btn.btn__block-position.block-position-5
                            span active block
                          button(type="button").btn.btn__block-position.block-position-6
                            span active block
                          button(type="button").btn.btn__block-position.block-position-7
                            span active block
                          button(type="button").btn.btn__block-position.block-position-8
                            span active block


                .col-lg-3
                  .site-block-position.site-block-position_mobile
                    .site-block-position__title Position on Mobile Phone
                  .site-block-position__body
                    .mobile-block-position
                      img(src="img/png/mobile-bg.png", alt="").img-responsive
                      .mobile-block-position__btn-group
                        button(type="button").btn.btn__block-position_mobile.block-position-11.btn__active-position
                          span active block

            .site-block-position__action-wr
              .row
                .col-lg-5
                  .site-block-position__action
                    .form-group
                      label.control-label.position-action-label Proactive invitation
                      .custom-select.form-control
                        select(name="").form-control
                          option(value='1') scroll bottom
                          option(value='1') scroll top

