block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";


block content
  script.
    $(function () {
      $('[data-toggle="popover"]').popover({
          container: 'body',
          html: true,
          placement: 'auto'
      });
    });
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title
                  .dropdown
                    a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | mywebsite.com
                      span.caret
                    .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                      ul.dropdown-menu__inner
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/ngmDNygRpDtDw2t45') http://demo1.leadux.belitsoft.net
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/JWEgkxM6P3Gkkto5N') ivanova
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/CfT5gHCrZe3TpAdub') ivanova
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/kiigaJCuQzZc2Gzgp') Z
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/edqiZWScpkbas2W5a') Zx
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/SqpoRKmuvmpSYhXA3') Zxc
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/XGBvLHoPgwDNkmXRb') Zxzx
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/8YWD9NT4oL6CGdDNm') а п  пм
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/F3CdYbb2jtLKGfYAS') Иванов Иван Иванович
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/JKkzK73qsksXRkaHr') Иванов Иван Иванович
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/c8wfCA2QiJ6PcDPR7') Иванов Иван Иванович1
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/BpEe2XqK3wNiYhDDS') мррмга
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/6hoAqMZ4ba8P3EJ5c') Петров
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/6jRFw7DwFqXh3NiZw') Простоквашино
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/nPu6BGby8gbfWZHLd') тттттт
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/e6Cx3ZRrwCJDqBYLT') ывавыпварнонгдлдгшлнегокенрукпауцаукпк

              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .submenu-site-setings__btn-group
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-140.active-page
                        i.ld-icons_instalation.btn-icon.btn-icon_l
                        span.btn-text Installation
                    .submenu__btn-wr
                      a(href="website-control-panel.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_control-panel.btn-icon.btn-icon_l
                        span.btn-text Control Panel
                    .submenu__btn-wr
                      a(href="website-integrations.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_integration.btn-icon.btn-icon_l
                        span.btn-text Integrations
      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          h3.panel-title Website Information
        .panel-body
          form(action="").form-horizontal
            .row
              .col-sm-10.col-sm-offset-1
                .form-group
                  label(for="inputWebsiteName").control-label.col-sm-3 Website name
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputWebsiteName(type="text").form-control
                .form-group
                  label(for="inputBrandName").control-label.col-sm-3 Brand name
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputBrandName(type="text").form-control
                .form-group
                  label(for="inputTimeZone").control-label.col-sm-3 Time zone
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputTimeZone(type="text").form-control
                .form-group
                  label(for="inputEmail").control-label.col-sm-3 E-mail
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputEmail(type="text", placeholder="for statistics, chat logs and notifications").form-control
                .form-group.text-right
                  .col-xs-12.form-group__info-btn-wr
                    button(type="button").btn.btn-warning.btn_shadow.btn-90 Save


      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          h3.panel-title Installation code for your website
        .panel-body
          form(action="")
            .copy-block__label
              = 'Please paste the following code on every page of your website before the closing </body> tag:'
            .copy-block
              pre
                code#copy1
                  = '<!----- BEGIN LEADUX SCRIPT ----->\n<script>(function(w,d,c){var o = "leadux"; w[o] = w[o] || function(){ (w[o].p = w[o].p || []).push(arguments[0]); }; var s = d.createElement("script");s.src = "https://sys.leadux.com/leadcollector/lc.js";w[o].src=s.src;if(c){s.async = true;d.getElementsByTagName("body")[0].appendChild(s);}else{d.write(s.outerHTML);}} )(window,document,true);leadux({id:"vEJoJMj8sEYBpGdD9",context:"base"});</script>\n<!----- END LEADUX SCRIPT ----->'
            .copy-block__button-group.text-right
              button(type='button').btn.btn-warning.btn_shadow.btn-140
                span.btn-text Send to Email
              button(type='button', onclick="copyToClipboard('copy1')").btn.btn-warning.btn_shadow.btn-140.js-btn-copy
                span.btn-text Copy to Clipboard

