block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";

block content
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title YOUR WEBSITES
              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .form-group-search__wr
                    .form-group-search
                      input(type="text" placeholder="search...").form-control
                      button(type="button").btn-search
                        .ld-icons_search
                  .submenu__btn-group.submenu__btn-group_websites
                    .submenu__btn-wr
                      a(href="").btn.btn-warning.btn_shadow.btn-110
                        i.ld-icons_new.btn-icon.btn-icon_l
                        span.btn-text new
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-110
                        i.ld-icons_edit.btn-icon.btn-icon_l
                        span.btn-text edit
                    .submenu__btn-wr
                      a(href="").btn.btn-danger.btn-110
                        i.ld-icons_delete.btn-icon.btn-icon_l
                        span.btn-text delete
      
      include templates/blocks/_website-info
