/*
Error: Invalid CSS after "@mixin size($width": expected ")", was "; $height)"
        on line 50 of /Users/evgeniy_yanushko/work/var/leadux-new/app/scss/bootstrap-switch/mixins.scss

45:   margin-left: auto;
46:   margin-right: auto;
47: }
48: 
49: // Sizing shortcuts
50: @mixin size($width; $height)
51: {
52:   width: $width;
53:   height: $height;
54: }
55: @mixin square($size)

Backtrace:
/Users/evgeniy_yanushko/work/var/leadux-new/app/scss/bootstrap-switch/mixins.scss:50
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/script/lexer.rb:227:in `expected!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/script/parser.rb:680:in `assert_tok'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/script/parser.rb:541:in `defn_arglist!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/script/parser.rb:140:in `parse_mixin_definition_arglist'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:1041:in `sass_script'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:230:in `mixin_directive'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:220:in `special_directive'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:195:in `directive'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/evgeniy_yanushko/.rvm/rubies/ruby-2.1.0/bin/compass:23:in `load'
/Users/evgeniy_yanushko/.rvm/rubies/ruby-2.1.0/bin/compass:23:in `<main>'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@mixin size($width\": expected \")\", was \"; $height)\"\A         on line 50 of /Users/evgeniy_yanushko/work/var/leadux-new/app/scss/bootstrap-switch/mixins.scss\A \A 45:   margin-left: auto;\A 46:   margin-right: auto;\A 47: }\A 48: \A 49: // Sizing shortcuts\A 50: @mixin size($width; $height)\A 51: {\A 52:   width: $width;\A 53:   height: $height;\A 54: }\A 55: @mixin square($size)"; }
