/*
Error: Undefined variable: "$gray-dark".
        on line 24 of /Users/evgeniy_yanushko/work/var/leadux-new/app/scss/bootstrap-switch/variables.scss

19: // ## Settings for some of the most global styles.
20: 
21: //** Background color for `<body>`.
22: $body-bg:               #fff;
23: //** Global text color on `<body>`.
24: $text-color:            $gray-dark;
25: 
26: //** Global textual link color.
27: $link-color:            $brand-primary;
28: //** Link hover color set via `darken()` function$mixin $link-color, 15%);
29: 

Backtrace:
/Users/evgeniy_yanushko/work/var/leadux-new/app/scss/bootstrap-switch/variables.scss:24
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:469:in `visit_variable'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/tree/root_node.rb:20:in `render'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0@global/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/evgeniy_yanushko/.rvm/rubies/ruby-2.1.0/bin/compass:23:in `load'
/Users/evgeniy_yanushko/.rvm/rubies/ruby-2.1.0/bin/compass:23:in `<main>'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/evgeniy_yanushko/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$gray-dark\".\A         on line 24 of /Users/evgeniy_yanushko/work/var/leadux-new/app/scss/bootstrap-switch/variables.scss\A \A 19: // ## Settings for some of the most global styles.\A 20: \A 21: //** Background color for `<body>`.\A 22: $body-bg:               #fff;\A 23: //** Global text color on `<body>`.\A 24: $text-color:            $gray-dark;\A 25: \A 26: //** Global textual link color.\A 27: $link-color:            $brand-primary;\A 28: //** Link hover color set via `darken()` function$mixin $link-color, 15%);\A 29: "; }
