@import "variables";

@font-face {
  font-family: 'leadux';
  src:  url('#{$icomoon-font-path}/leadux.eot?a5akp1');
  src:  url('#{$icomoon-font-path}/leadux.eot?a5akp1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/leadux.ttf?a5akp1') format('truetype'),
    url('#{$icomoon-font-path}/leadux.woff?a5akp1') format('woff'),
    url('#{$icomoon-font-path}/leadux.svg?a5akp1#leadux') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ld-"], [class*=" ld-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'leadux' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ld-pr-icons_pri-1 {
  &:before {
    content: $ld-pr-icons_pri-1;
  }
}
.ld-pr-icons_pri-2 {
  &:before {
    content: $ld-pr-icons_pri-2;
  }
}
.ld-pr-icons_pri-3 {
  &:before {
    content: $ld-pr-icons_pri-3;
  }
}
.ld-pr-icons_pri-4 {
  &:before {
    content: $ld-pr-icons_pri-4;
  }
}

