@font-face {
  font-family: 'leadux-pr';
  src:  url('fonts/leadux-pr.eot?a5akp1');
  src:  url('fonts/leadux-pr.eot?a5akp1#iefix') format('embedded-opentype'),
    url('fonts/leadux-pr.ttf?a5akp1') format('truetype'),
    url('fonts/leadux-pr.woff?a5akp1') format('woff'),
    url('fonts/leadux-pr.svg?a5akp1#leadux') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ld-"], [class*=" ld-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'leadux' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ld-pr-icons_pri-1:before {
  content: "\e900";
}
.ld-pr-icons_pri-2:before {
  content: "\e901";
}
.ld-pr-icons_pri-3:before {
  content: "\e902";
}
.ld-pr-icons_pri-4:before {
  content: "\e903";
}

