//##################
// footer
//##################
.container-wrap__footer {
  background-color: $brand-primary;
  padding: 20px 15px;
  height: $footer-height;
  @media (min-width: $screen-lg) {
    background-color: transparent;
  }
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  @media (min-width: $screen-lg) {
    font-size: 18px;
    // padding-left: 125px;
    text-align: left;
  }
}

.footer-nav__link {
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.footer-nav__item,
.footer-nav__link {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  @media (min-width: $screen-lg) {
    font-size: 18px;
  }
}

.footer-nav__item {
  margin-bottom: 5px;
  @media (min-width: $screen-lg) {
    display: inline-block;
    + .footer-nav__item {
      &:before {
        display: inline-block;
        content: '|';
        margin-right: 5px;
      }
    }
  }
}

.footer-nav__item-linck-wr {
  display: inline-block;
  .footer-nav__link {
    &:hover,
    &:focus {
      color: #6e6e6e;
    }
  }
  + .footer-nav__item-linck-wr {
    &:before {
      display: inline-block;
      content: '|';
      margin-right: 5px;
    }
  }
}

//##################
// end footer
//##################
