//##################
// header
//##################
.main-header {
  padding: 20px 0;
  @media (min-width: $screen-lg) {
    padding: 25px 0 15px;
    overflow: inherit;
    *zoom: 1;
    &:before,
    &:after
    {
        display: table;
        content: ' ';
    }
    &:after
    {
        clear: both;
    }
  }
}

.header-inner_sm {
  float: left;
  padding: 0 0 20px;
  position: relative;
  z-index: 2;
  @media (min-width: $screen-lg) {
    padding: 0;
    overflow: inherit;
  }
}

.logo__wr {
  float: left;
  margin: 0;
  font-size: 1px;
  img {
    @media (min-width: $screen-lg) {
      width: 160px;
      height: 45px;
    }
  }
}

.logo-link {
  display: block;
}

.btn-toggle_header {
  float: right;
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.btn-toggle__icon {
  padding: 3px 0;
  width: 35px;
  display: block;
}

.toggle-line {
  height: 6px;
  display: block;
  background-color: #636466;
  @include border-radius(3px);
  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

.header__nav-controls {
  overflow: hidden;
  padding-right: 15px;
  @media (min-width: $screen-lg) {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
  }
}

.header-nav__list-wr {
  background: #fafafa;
  max-height: 0;
  @extend %transition;
  overflow: hidden;
  clear: both;
  @media (min-width: $screen-lg) {
    background: transparent;
    max-height: inherit;
    overflow: inherit;
    display: inline-block;
    vertical-align: middle;
  }
  .header-toggle & {
    max-height: 1000px;
  }
}


.header__nav {
  margin: 0 floor(($grid-gutter-width / -2));
  position: relative;
  @media (min-width: $screen-lg) {
    margin: 0;
    float: right;
    white-space: nowrap;
  }
}

.header-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-nav-list__item {
  @media (min-width: $screen-lg) {
    display: inline-block;
  }
}


.header-nav__link {
  text-align: center;
  color: $text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  padding: 10px 25px;
  @extend %transition;
  @media (min-width: $screen-lg) {
    padding: 10px 10px;
  }
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    @media (min-width: $screen-lg) {
      border-radius: 6px;
      background: #fafafa;
    }
  }
}

.header-nav__link_dashboard {
  @extend %transition;
  color: $text-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  float: right;
  margin-right: 10px;
  @include border-radius(6px);
  @include box-shadow(inset 0 -3px 8px rgba(0,0,0, 0.15), /*bottom internal shadow*/
                      inset -3px 0 8px rgba(0,0,0, 0.15), /*right internal shadow*/
                      inset 0 3px 8px rgba(255,255,255, 1), /*top internal highlight*/
                      inset 3px 0 8px rgba(255,255,255, 1)); /*left internal highlight*/
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }
  @media (min-width: $screen-lg) {
    height: 44px;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    margin-right: 0;
  }
  .ld-icons_dash {
    font-size: 20px;
    margin-top: -5px;
    @media (min-width: $screen-lg) {
      font-size: 30px;
      margin-top: -11px;
    }
  }
}

.container-wrap__header_index {
  background-color: #fff;
  margin-bottom: 40px;
}

.logo__wr_index {
  background-color: #fff;
  width: 260px;
  margin: 0 auto 0;
  padding: 0 0 15px;
  text-align: center;
  position: relative;
  bottom: -35px;
}

//##################
// end header
//##################
