#wrapper {
  @media (min-width: $screen-lg) {
    min-height: 100vh;
    border-left: 220px solid $brand-primary;
    border-right: 90px solid $brand-warning;
  }
}

#page-content-wrapper {
  min-height: calc(100vh - #{$footer-height});
}

.main-content {
  min-height: 300px;
}

.container_sm {
  @extend %clearfix;
  padding: 0 15px;
  @media (min-width: $screen-lg) {
    padding-left: 30px;
    padding-right: 80px;
  }
}

.container_lg {
  @extend %clearfix;
  padding: 0 15px;
  @media (min-width: $screen-lg) {
    padding-left: 30px;
    padding-right: 20px;
  }
}

.index-wrapper {
  background-color: #3b669a;
  min-height: 100vh;
}
