//##################
// main
//##################

.user-info__wr {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  @media (min-width: $screen-sm) {
    margin-right: 35px;
    float: left;
    width: 155px;
  }
}

.user-statistics__wr {
  overflow: hidden;
}

.avatar-thumbnail {
  width: 70px;
  height: 70px;
  margin: 0 auto 5px;
}

.welcome-text {
  color: $brand-primary-2;
  margin: 0 0 5px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.user-info__action {
  margin: 0 0 5px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  a {
    color: $brand-primary-2;
  }
}

.nav__header {
  @media (min-width: $screen-lg) {
    margin-bottom: 15px;
  }
}

.nav__header-inner,
.latest-leads__header-inner {
  @media (min-width: $screen-lg) {
    display: block;
    position: relative;
  }
}

.submenu__title {
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  background-color: $brand-primary;
  @include border-radius(10px);
  padding: 10px 20px 15px 10px;
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: $screen-lg) {
    @include border-radius(0 10px 10px 0);
    padding: 10px 20px 15px 60px;
    margin-left: -30px;
    margin-bottom: 0;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
  }
  .dropdown {
    @media (min-width: $screen-lg) {
      max-width: 100%;
      display: inline-block;
    }
    a[data-toggle="dropdown"] {
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      padding-right: 15px;
      white-space: nowrap;
      .caret {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -1px;
        }
    }
  }
  a {
    color: #fff;
  }
  .dropdown-menu,
  .dropdown-menu__inner {
    width: 100%;
    @media (min-width: $screen-lg) {
      width: auto;
      max-width: 320px;
    }
     > li > a {
      text-overflow: ellipsis;
      overflow: hidden;
     }
  }
}

.dropdown-menu__inner {
  max-height: 60vh;
  overflow-y: auto;
  @media (min-width: $screen-sm) {
    max-height: 350px;
  }
}

@media (min-width: $screen-xlg) {
  .submenu__additional-action-wr {
    margin-left: -15px;
    margin-right: -15px;
  }
  .submenu__title-wr {
    float: left;
    width: 35%;
    padding: 0 15px;
  }

  .submenu__main-actions-wr {
    float: left;
    width: 65%;
    padding: 0 15px;
  }
}

.submenu__main-actions {
  margin-bottom: 10px;
  @media (min-width: $screen-lg) {
    padding-top: 25px;
    margin-bottom: 0;
  }
}

.submenu__btn-group {
  margin-left: -10px;
  margin-right: -10px;
  text-align: justify;
  line-height: 0;
  .submenu__btn-wr {
    margin-bottom: 15px;
    padding: 0 10px;
    display: inline-block;
    .btn {
      font-size: 18px;
    }
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  @media (min-width: $screen-lg) {
    // margin: 0;
    &:after {
      display: none;
    }
  }
  @media (min-width: $screen-sm) {
    text-align: right;
  }
}

.submenu__btn-group_websites {
  @media (max-width: $screen-sm-max) {
    .btn {
      min-width: 80px;
      .btn-icon {
        display: none;
      }
    }
  }
}

.submenu-site-setings__btn-group {
  margin-left: -10px;
  margin-right: -10px;
  .submenu__btn-wr {
    // margin-bottom: 15px;
    padding: 0 10px;
    display: inline-block;
    @media (max-width: $screen-md-max) {
      + .submenu__btn-wr {
        border-left: 1px solid #343434;
      }
      .btn {
        line-height: 18px;
        background-color: transparent;
        border: none;
        @include box-shadow(none);
        min-width: inherit;
        padding: 0;
        font-size: 16px;
        height: auto;
        .btn-icon {
          display: none;
        }
        .btn-text {
          color: #343434;
          text-decoration: underline;
        }
        &.active-page { 
          font-weight: 700;
        }
      }
    }
  }
  @media (min-width: $screen-lg) {
    text-align: right;
  }
  .btn_shadow {
    &:focus,
    &.active-page {
      color: #000;
      @media (min-width: $screen-lg) {
        background-color: $brand-primary;
        color: #fff;
      }
    }
  }
}

.section__wr {
  margin-bottom: 20px;
  @media (min-width: $screen-lg) {
    margin-bottom: 80px;
  }
}

.latest-leads__filters {
  .latest-leads-filters__list {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
    // text-align: justify;
    padding-top: 15px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    @media (min-width: $screen-lg) {
      margin: 0;
      &:after {
        display: none;
      }
    }
  }
}

.submenu__title,
.latest-leads-filters__list {
  .dropdown {
    // @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    //   .dropdown-menu {
    //     left: auto;
    //     right: 0;
    //   }
    // }
    @media (min-width: $screen-lg) {
      .caret {
        border-left: $caret-width-base solid #fff;
        border-top: $caret-width-base solid transparent;
        border-bottom: $caret-width-base solid transparent;
        border-left-width: 9px;
      }
      .dropdown-menu {
        top: 0;
        left: 100%;
      }
    }
  }
}

.dropdown-right {
    @media (min-width: $screen-lg) {
      .caret {
        border-left: $caret-width-base solid #fff;
        border-top: $caret-width-base solid transparent;
        border-bottom: $caret-width-base solid transparent;
        border-left-width: 9px;
      }
      .dropdown-menu {
        top: 0;
        left: 100%;
      }
    }
  }

.latest-leads-filters__collapse {
  @media (min-width: $screen-lg) {
    display: block !important;
    position: fixed;
    left: 35px;
    top: 90px;
    // margin-top: -200px;
    z-index: 1000;
    max-width: 160px;
  }
}

.latest-leads-filters__collapse_top {
  .filter-label {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media (min-width: $screen-lg) {
    display: block !important;
    position: fixed;
    left: 35px;
    top: 20px;
    z-index: 1000;
    max-width: 160px;
  }
}

.latest-leads-filters__list-item {
  padding: 0 15px 15px;
  font-size: 14px;
  @media (min-width: $screen-lg) {
    margin-bottom: 25px;
    padding: 0;
  }
  .btn {
    font-size: 18px;
  }
}

.latest-leads-filters__collapse {
  .latest-leads-filters__list-item {
    float: left;
    @media (max-width: 500px - 1) {
      width: 50%;
      &:nth-of-type(even) {
        text-align: right;
        .dropdown-menu {
          left: auto;
          right: 0;
        }
        .filter-label {
          text-align: right;
        }
      }
      &:nth-of-type(2n+3) {
        clear: left;
      }
    }
    @media (min-width: 500px) and (max-width: $screen-xs-max) {
      // &:nth-of-type(3n+2) {
      //   text-align: center;
      // }
      &:nth-of-type(3n) {
        // text-align: right;
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
      &:nth-of-type(4n+4) {
        clear: left;
      }
      width: 33.333%
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      // text-align: center;
      &:nth-of-type(4n) {
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
      &:nth-of-type(5n+5) {
        clear: left;
      }
      width: 25%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      // text-align: center;
      &:nth-of-type(5n) {
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
      &:nth-of-type(6n+6) {
        clear: left;
      }
      width: 20%;
    }
    .dropdown {
      display: inline-block;
    }
    @media (min-width: $screen-lg) {
      float: none;
    }
  }
}

.form-group-search__wr {
  margin-bottom: 20px;
  position: relative;
  @media (min-width: $screen-sm) {
    padding-left: 20px;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    float: right;
    width: 40%;
  }
  @media (min-width: $screen-md) {
    + .submenu__btn-group { 
        float: right;
        width: 60%;
    }
  }
  @media (min-width: $screen-lg) {
    float: right;
    margin-bottom: 0;
    width: 240px;
  }
  .form-control {
    padding-right: 40px;
    border-radius: 10px;
  }
  .btn-search {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    font-size: 23px;
    color: $brand-primary-2;
    text-align: center;
    padding: 0;
    &:focus {
      outline: none;
      color: #343434;
    }
  }
}

.latest-leads__filters-header {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  background: $brand-primary;
  @media (min-width: $screen-lg) {
    display: none;
    margin: 0;
  }
}

.latest-leads__filters-header-title {
  padding-right: 65px;
  text-align: center;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.latest-leads__filters-header-btn-wr {
  float: right;
  margin-right: 25px;
}

.copy-block__label {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
  margin-bottom: 10px;
}

pre {
  background-color: #efefef;
  border: 1px solid #7e7e7e;
  @include border-radius(10px);
}

.copy-block__button-group.text-right {
  .btn {
    margin-bottom: 5px;
    + .btn {
      margin-left: 10px;
      @media (min-width: $screen-sm) {
        margin-left: 20px;
      }
    }
  }
}

.form-group__inner {
  margin-bottom: 10px;
  @media (min-width: $screen-sm) {
    margin-bottom: 0;
  }
}

.form-group__actions-wr {
  text-align: right;
  @media (min-width: $screen-sm) {
    text-align: left;
  }
}

.btn-group__form-group-action {
  .btn {
    color: #343434;
    font-family: Arial, sans-serif;
    font-size: 12px;
    // font-size: 12px;
    font-weight: 400;
    height: 30px;
    min-width: 30px;
    padding: 5px;
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.panel-body_gray {
  background-color: #dee1e1;
  @include border-radius(8px);
}

.site-block-position__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.site-block-position__wr{
  max-width: 900px;
}

.site-block-position {
  margin-bottom: 20px;
}

.site-block-position__inner {
  margin-bottom: 20px;
}

.site-block-position__action {
  padding: 10px 20px;
  border: 2px solid #848484;
  @include border-radius(10px);
  margin-bottom: 20px;
  .form-control {
    font-size: 18px;
    line-height: 1;
  }
  .site-block-position__row-wr {
    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  }
}

.position-action-label {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
}

.desktop-block-position {
  max-width: 600px;
  margin: 0 auto;
}

.mobile-block-position {
  max-width: 120px;
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    max-width: 182px;
  }
}

.desktop-block-position {
  position: relative;
}
// 600 X 340
// 40 25 25 25
.desktop-block-position__btn-group {
  position: absolute;
  left: flex-width(25, 600);
  right: flex-width(25, 600);
  top: flex-width(40, 340);
  bottom: flex-width(25, 340);
}

.btn__block-position {
  background-color: #b0b1b1;
  border: 2px solid white;
  @include border-radius(4px);
  @include box-shadow(3.9px 3.1px 6px rgba(52, 52, 52, 0.21));
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: flex-width(40, 275);
  text-align: center;
  padding: 0;
  width: flex-width(90, 550);
  height: flex-width(40, 275);
  position: absolute;
  @extend %transition;
  span {
    opacity: 0;
  }
  &.btn__active-position {
    background-color: $brand-warning;
    z-index: 11;
    span {
      opacity: 1;
    }
  }
  &:not(.btn__active-position) {
    &:hover {
      color: #fff;
      background-color: $brand-warning;
    }
  }
  &:hover,
  &:focus {
    outline: none;
    color: #fff;
  }
  @media (min-width: $screen-lg) {
    font-size: 15px;
  }
}

.block-position-1 {
  left: 0;
  top: flex-width(30, 275);
}

.block-position-2 {
  left: 0;
  top: flex-width(75, 275);
  @include transform(rotate(-90deg));
  transform-origin: top left;
  margin-top: 16.3%;
}

.block-position-3 {
  left: 0;
  bottom: 0;
}

.block-position-4 {
  bottom: 0;
  left: flex-width(95, 550);
}

.block-position-5 {
  bottom: flex-width(45, 275);
  left: flex-width(42, 550);
  z-index: 10;
  @media (min-width: $screen-sm) {
    bottom: flex-width(30, 275);
  }
}

.block-position-6 {
  bottom: flex-width(45, 275);
  right: flex-width(42, 550);
  z-index: 10;
  @media (min-width: $screen-sm) {
    bottom: flex-width(30, 275);
  }
}

.block-position-7 {
  bottom: 0;
  right: flex-width(95, 550);
}

.block-position-8 {
  bottom: 0;
  right: 0;
}

.block-position-9 {
  right: 0;
  top: flex-width(75, 275);
  @include transform(rotate(-90deg));
  transform-origin: top right;
  margin-right: 7.3%;
}

.block-position-10 {
  right: 0;
  top: flex-width(30, 275);
}

.mobile-block-position {
  position: relative;
}

// 365 X 182
// 57 17 52 17

.mobile-block-position__btn-group {
  position: absolute;
  left: flex-width(20, 182);
  right: flex-width(20, 182);
  top: flex-width(55, 365);
  bottom: flex-width(55, 365);
}

.block-position-11 {
  left: flex-width(26, 142);
  bottom: 0;
}

.btn__block-position_mobile {
  background-color: #b0b1b1;
  border: 2px solid white;
  @include border-radius(4px);
  @include box-shadow(3.9px 3.1px 6px rgba(52, 52, 52, 0.21));
  color: #fff;
  font-size: 10px;
  @media (min-width: $screen-sm) {
    font-size: 15px;
  }
  font-weight: 400;
  line-height: flex-width(40, 275);
  text-align: center;
  padding: 0;
  width: flex-width(90, 142);
  height: flex-width(40, 255);
  position: absolute;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $brand-primary;
  }
  span {
    opacity: 0;
  }
  &.btn__active-position {
    background-color: $brand-warning;
    span {
      opacity: 1;
    }
  }
  // @media (min-width: $screen-sm) {
  //   font-size: 15px;
  // }
}

// .btn-group__form-group-save {
//   display: inline-block;
//   @media (min-width: $screen-sm) {
//     display: block;
//   }
// }

.under-construction {
  text-align: center;
  color: #343434;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  padding: 20px 0;
}

.middle-box-index {
  max-width: 470px;
  margin: 0 auto;
  padding: 20px 20px;
  color: #fff;
  @media (min-width: $screen-sm) {
    padding: 100px 20px;
  }
}

.caption-text {
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
}

.index-link {
  font-size: 18px;
  color: $brand-warning;
  &:hover,
  &:focus {
    color: $brand-warning;
  }
}

.index__title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;

}

.index-form__header {
  margin-bottom: 50px;
}

.filter-label {
    text-align: left;
}

.filter-label ul {
  margin-bottom: 0;
}

.filter-label li {
  padding: 2px 0 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.caret_up {
    border-bottom: 4px dashed;
    border-bottom-width: 9px;
    border-top: none;
}

.latest-leads-filters__list-item .dropdown {
  display: inline-block;
}

.accordion-toggle {
  display: none;
}

// .dropdown-menu {
//   max-height: 300px;
//   overflow-y: auto;
//   li {
//     max-width: 100%;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: block;
//   }
// }

@media screen and (min-width: 401px) {
    .input4lean {
      display: none !important;
    }
    .input4wide {
      display: block !important;
    }
}
@media screen and (max-width: 400px) {
    .input4lean {
      display: block !important;
    }
    .input4wide {
      display: none !important;
    }
}

// Hover/Focus state
.dropdown-menu__inner {
  padding: 0;
  margin: 0;
  list-style: none;
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.dropdown-menu__inner > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

// Active state
.dropdown-menu__inner > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}


//##################
// end main
//##################
