//colors
$black: #000;
$white: #fff;
$color_iron_approx: #fff;
$color_mantle_approx: #343434;

//urls
$url_0: url(owl.video.play.png);

.owl-carousel {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
    .animated {
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }
    .owl-animated-in {
        z-index: 0;
    }
    .owl-animated-out {
        z-index: 1;
    }
    .fadeOut {
        animation-name: fadeOut;
    }
    .owl-stage {
        position: relative;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .owl-stage-outer {
        position: relative;
        overflow: hidden;
    }
    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        img {
            display: block;
            width: 100%;
            @include transform-style(preserve-3d);
        }
        .owl-lazy {
            opacity: 0;
            @include transition(opacity 400ms ease);
        }
    }
    .owl-nav {
        &.disabled {
            display: none;
        }
    }
    .owl-dot {
        cursor: pointer;
        cursor: hand;
        @include user-select(none);
        color: #fff;
    }
    &.owl-loaded {
        display: block;
    }
    &.owl-loading {
        opacity: 0;
        display: block;
    }
    &.owl-hidden {
        opacity: 0;
    }
    &.owl-grab {
        cursor: move;
        cursor: grab;
    }
    &.owl-rtl {
        direction: rtl;
        .owl-item {
            float: right;
        }
    }
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: $black;
    }
    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        background: $url_0 no-repeat;
        cursor: pointer;
        z-index: 1;
        @include transition(scale 100ms ease);
        &:hover {
            @include transition(scale(1.3, 1.3));
        }
    }
    .owl-video-playing {
        .owl-video-tn {
            display: none;
        }
        .owl-video-play-icon {
            display: none;
        }
    }
    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        @include transition(opacity 400ms ease);
    }
    .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
    .owl-dots.disabled {
        display: none;
    }
    &.owl-refresh .owl-item {
        display: none;
    }
    &.owl-drag .owl-item {
        @include user-select(none);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.owl-height {
    @include transition(height 500ms ease-in-out);
}
.owl-theme {
    .owl-nav {
        margin-top: 0;
        text-align: center;
        [class*='owl-'] {
            color: $color_mantle_approx;
            font-size: 18px;
            line-height: 20px;
            padding: 5px;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            &:hover {
                text-decoration: none;
                @include opacity(1);
            }
        }
        .disabled {
            display: none;
        }
        &.disabled + .owl-dots {
            margin-top: 10px;
        }
        .owl-prev {
            position: absolute;
            left: 6px;
            top: 50%;
            margin-top: -15px;
            z-index: 3;

        }
        .owl-next {
            position: absolute;
            right: 6px;
            top: 50%;
            margin-top: -15px;
            z-index: 3;
        }
    }
}

.carusel-arrow {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #343434;
    border-width: 8px 18px;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    &.carusel-arrow_right {
        border-color: transparent #343434 transparent transparent;
        border-left-width: 0;
    }
    &.carusel-arrow_left {
        border-color: transparent transparent transparent #343434;
        border-right-width: 0;
    }
}
