.panel-default_custom {
  border-width: 2px;
  .panel-heading {
    @include border-radius(7px 7px 10px 10px);
    padding: 5px 10px;
  }
  .panel-title {
    font-size: 18px;
    font-weight: 400;
  }
  .panel-body {
    padding: 10px;
  }
  @media (min-width: $screen-sm) {
    .panel-title {
      font-size: 24px;
    }
    .panel-heading {
      padding: 15px 45px;
    }
    .panel-body {
      padding: 20px 45px;
    }
  }
}
.panel-default_shadow {
  background-color: #fff;
  @include box-shadow(11px 8.6px 24px rgba(107, 107, 107, 0.21));
}