.tabcollapse-accordion {
  .panel-heading  {
    padding: 5px 10px 10px;
    border-radius: 9px;
    + .panel-collapse {
       > .panel-body {
        border-top: none;
        padding: 10px ;
       }
    }
  }
}

.tabcollapse-tab {
  &.nav-tabs {
    border-bottom: none;
    > li {
      margin-bottom: -2px;
      a {
        margin-right: 20px;
        border-width: 2px;
        background-color: #b0b1b1;
        min-width: 170px;
        color: #343434;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        padding: 5px 20px;
      }
      &.active {
        a {
          border-width: 2px;
          background-color: #fff;
          border-color: #b0b1b1;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #fff;
          }
        }
      }
      &:hover {
        a {
          border-color: #b0b1b1;
        }
      }
    }
  }
  &.tab-content {
    padding: 20px;
    background-color: #fff;
    border: 2px solid #b0b1b1;
    // border-top: none;
    @include border-radius(0 10px 10px 10px);
    @include box-shadow(11px 8.6px 24px rgba(107, 107, 107, 0.21));
  }
  .tab-pane {
    &.active {
      min-height: 150px;
    }
  }
}